html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}
blockquote {
	position: relative;
	margin: 0 0 1rem;
	padding: 19px 0 38px 72px;

	cite {
		display: block;
		font-style: normal;
		line-height: 1.2;
		text-transform: uppercase;
		margin-top: 9px;
	}
	&:before {
		content: "“";
		position: absolute;
		line-height: 1.25;
		font-size: 80px;
		top: 20px;
		left: 8px;
		margin: -5px 0 0 0;
	}
	p {
		margin: 0;
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin: 20px -10px 25px;
	@include media-breakpoint-up(lg) {
		margin-right: -30px;
		margin-left: -30px;
	}
}

ins {
	padding: 3px 8px;
	display: inline-block;
	vertical-align: center;
}
code {
	padding:2px 5px;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";
