ul, ol {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.post-content,
.comment-content,
.entry-content {
	ul, 
	ol {
		padding: 0;
		list-style: none;

		li {
			position: relative;
			padding: 2px 0 2px 17px;

			ul,
			ol {
				padding: 4px 0 0 20px;
				margin: 0;
				display: block;

				> li {
					&:first-child {
						padding-top: 0;

						&:before {
							top: 0;
						}
					}
				}
			}
			ol {
				> li {
					&:before {
						position: relative;
						top: 0;
					}
					&:first-child {
						&:before {
							top: 0;
						}
					}
				}
			}
		}
	}
	ul {
		margin: 10px 0;
		
		li {
			&:before {
				content: '•';
				line-height: inherit;
				position: absolute;
				top: 2px;
				font-weight: bold;
				left: 0;
			}
			&.parent {
				&:before {
					display: none;
				}
			}
		}
	}
	ol {
		margin: 10px 0;
		padding: 0;
		counter-reset: list; 

		> li {
			padding-left: 0;

			&:before {
				content: counter(list, decimal-leading-zero) '. ';
				counter-increment: list;
				font-size: 1em;
				line-height: inherit;
				padding: 0 5px 0 0;
				font-weight: bold;
			}
		}
	}
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Inline list */
.inline-list {
	@include reset-list;
	li {
		display: inline-block;
	}
}