.page-preloader-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #fff;
	display: block;
}
.la-line-scale,
.la-line-scale > div {
	position: relative;
	box-sizing: border-box;
}
.la-line-scale {
	display: block;
	font-size: 0;
	color: #333;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.la-line-scale > div {
	display: inline-block;
	float: none;
	background-color: #333;
	border: 0 solid #333;
}
.la-line-scale {
	width: 40px;
	height: 32px;
}
.la-line-scale > div {
	width: 4px;
	height: 32px;
	margin: 2px;
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
	animation: line-scale 1s infinite ease;
}
.la-line-scale > div:nth-child(1) {
	animation-delay: -.9;
}
.la-line-scale > div:nth-child(2) {
	animation-delay: -.8s;
}
.la-line-scale > div:nth-child(3) {
	animation-delay: -.7s;
}
.la-line-scale > div:nth-child(4) {
	animation-delay: -.6s;
}
.la-line-scale > div:nth-child(5) {
	animation-delay: -.5s;
}
.la-line-scale.la-3x {
	width: 120px;
	height: 96px;
}
.la-line-scale.la-3x > div {
	width: 12px;
	height: 96px;
	margin: 6px;
	margin-top: 0;
	margin-bottom: 0;
}
/*
 * Animation
 */
@-webkit-keyframes line-scale {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(.4);
				transform: scaleY(.4);
	}
	20% {
		-webkit-transform: scaleY(1);
				transform: scaleY(1);
	}
}
@-moz-keyframes line-scale {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(.4);
		   -moz-transform: scaleY(.4);
				transform: scaleY(.4);
	}
	20% {
		-webkit-transform: scaleY(1);
		   -moz-transform: scaleY(1);
				transform: scaleY(1);
	}
}
@-o-keyframes line-scale {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(.4);
			 -o-transform: scaleY(.4);
				transform: scaleY(.4);
	}
	20% {
		-webkit-transform: scaleY(1);
			 -o-transform: scaleY(1);
				transform: scaleY(1);
	}
}
@keyframes line-scale {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(.4);
		   -moz-transform: scaleY(.4);
			 -o-transform: scaleY(.4);
				transform: scaleY(.4);
	}
	20% {
		-webkit-transform: scaleY(1);
		   -moz-transform: scaleY(1);
			 -o-transform: scaleY(1);
				transform: scaleY(1);
	}
}