#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	left:-100px;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border: 2px solid;
	text-indent: 0%;
	background: none;
	z-index: 999;
	border-radius: 0;
	text-align: center;

	&:before{
		@include material-icon();
		width: 50px;
		height: 50px;
		text-align: center;
		top: -2px;
		left: -2px;
		position: relative;
		display: block;
		font-size: 24px;
		line-height: 50px;
		content: "arrow_upward";
	}
	
	@include media-breakpoint-up(sm) {
		left:auto;
		right: 20px;
	}
	@include media-breakpoint-up(md) {
		bottom: 80px;
	}
}

#toTop:active, #toTop:focus {
	outline: none;
}