.site-header.default {
	.header-container_wrap {
		padding-top: 19px;
	}
	.container {
		@media (max-width: 543px) {
			padding: 0;
		}
	}
	.row {
		@media (max-width: 543px) {
			margin: 0;

			> div {
				padding: 0;
			}
		}
	}

	.social-col {
		@include media-breakpoint-up(sm) {
			padding-top: 0;
			text-align: right;
		}
		@include media-breakpoint-up(xl) {
			padding-top: 0;
		}
		@media (max-width: 543px) {
			order: 1;
			text-align: center;
		}
	}
	.branding-col {
		@media (max-width: 543px) {
			order: 2;
		}
	}
	.menu-col {
		padding-top: 19px;
		padding-bottom: 33px;
	}

	.site-branding {}

	.social-list {}

	.main-navigation {
		ul.menu {
			margin: 0;
			transition: none;

			@include media-breakpoint-up(sm) {
				text-align: left;
			}
			> li {
				&:first-child {
					margin-left: 0;
				}
				&:hover > ul,
				&.focus > ul,
				&.menu-hover > ul {
					@include media-breakpoint-up(sm) {
						transform: translateY(38px);
					}
				}
			}
		}
		&.isStuck {
			ul.menu {
				@media (min-width: 782px) {
					padding: 15px 0;
					text-align: center;
					transition: 300ms padding;

					> li {
						> ul {
							transform: translateY(20px);
						}
					}
				}
			}
		}
	}

	.mobile-block {
		@media (max-width: 543px) {
			order: 3;
			padding: 0 10px;
			margin-top: 23px;
		}
		&.active {
			z-index: 100;
		}
	}

	
	.site-branding {
		margin: 0;
		padding: 0;
		text-align: left;

		@media (max-width: 543px) {
			text-align: center;
		}
	}
}