.site-header.minimal {
	.header-container_wrap {
		padding-top: 19px;
		padding-bottom: 25px;
	}
	.container {
		@media (max-width: 543px) {
			padding: 0;
		}
	}
	.row {
		@media (max-width: 543px) {
			margin: 0;

			> div {
				padding: 0;
			}
		}
	}
	.social-col {
		order: 1;

		@media (max-width: 543px) {
			text-align: center;
		}
		@include media-breakpoint-up(sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-top: 20px;
			order: 2;
		}
		@include media-breakpoint-up(md) {
			padding-top: 0;
			text-align: right;
			display: block;
		}
		@include media-breakpoint-up(xl) {
			order: 3;
		}
	}
	.branding-col {	
		order: 1; 
	}
	.menu-col {
		order: 4;

		@include media-breakpoint-up(sm) {
			order: 3;
		}
		@include media-breakpoint-up(xl) {
			order: 2;
		}
		ul.menu {
			padding-top: 0;
			transition: none;

			@include media-breakpoint-up(sm) {
				padding-top: 30px;
			}
			@include media-breakpoint-up(xl) {
				padding-top: 5px;
			}
		}
		.isStuck {
			ul.menu {
				@media (min-width: 782px) {
					padding: 15px 0;
					margin: 0;
					text-align: center;
					transition: 300ms padding;

					> li {
						> ul {
							transform: translateY(20px);
						}
					}
				}
			}
		}
	}
	.mobile-block {
		@media (max-width: 543px) {
			order: 3;
			padding: 0 10px;
			margin-top: 23px;
		}
		&.active {
			z-index: 100;
		}
	}

	
	.site-branding {
		margin: 0;
		padding: 0;
		text-align: left;

		@media (max-width: 543px) {
			text-align: center;
		}
	}
}