.top-panel {
	padding: 17px 0 16px;

	.row {
		align-items: center;
	}
	&__message {
		margin: 0;
	}
	&__menu {
		margin: 0;
		padding: 0;

		@include media-breakpoint-up(md) {
			text-align: right;
		}
		&-list {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				padding: 0 5px 0 0;

				@media (min-width: 544px) {
					padding: 0;
				}
				&:before {
					@media (min-width: 544px) {
						content: '•';
						padding: 0 12px 0 7px;
					}
				}
				&:first-child {
					&:before {
						display: none;
					}
				}
				a {
					text-decoration: none;
				}
				&.current-menu-item,
				&.current_page_item,
				a:hover {
					text-decoration: none;
				}
			}
		}
	}
}

