button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.post-edit-link,
.nav-links a {
	text-align: center;
	text-transform: uppercase;
	@include button;

	&__text,
	&__icon {
		display: inline-block;
		vertical-align: top;
	}
	&__icon {
		@include material-icon();
		font-size: 1.5em;
		line-height: inherit;
		
		&:before {
			content: '\E5C8';
		}
	}
	&.btn-fullwidth {
		width: 100%;
		text-align: center;
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 16px 29px;
}