.comment {
	&-respond {
		margin-top: 16px;
	}
	&-reply-title {
		position: relative;
		text-align: left;
		margin: 0 0 34px;
	}
	&-form {
		&-comment,
		&-author,
		&-email,
		&-url {
			margin: 30px 0 0 0;

			input {
				width: 100%;
			}
		}
		&-comment {
			textarea {
				height: 248px;
			}
		}
		.form-submit {
			margin: 30px 0 0;
			
			.comment-list & {
				padding-bottom: 30px;
			}
			.page .site-main & {
				margin: 30px 0 0;
			}
		}
		&__field {
			width: 100%;
			vertical-align: top;
		}

		.logged-in-as,
		.comment-notes {
			margin: 15px 0 25px;
			font-style: italic;
		}
	}
}
#cancel-comment-reply-link {
	@include font-size(0.75);
}