input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
	padding: 14px 20px;
	border: none;
	border-radius: $border__radius;

	&:focus {
		box-shadow: none;
		outline: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"] {
	line-height: 50px;
	height: 50px;
}

button,
input[type="submit"],
input[type="reset"] {
	&:focus {
		outline: none;
	}
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
	min-height: 150px;
	@include resizable(vertical);
}

::-moz-placeholder 			{ opacity: 1; font-style: italic; }
:-moz-placeholder  			{ opacity: 1; font-style: italic; }
::-webkit-input-placeholder { opacity: 1; font-style: italic; }
:-ms-input-placeholder      { opacity: 1; font-style: italic; }