.search-form {
	margin: 0;
	padding: 0;
	display: flex;

	label {
		font-size: 0;
		flex: 3 1 auto;
	}
	&__field[type="search"] {
		float: none;
		box-sizing: border-box;
		height: 50px;
		width: 100%;

		@media (max-width: 543px) {
			height: 38px;
			padding-top: 0;
			padding-bottom: 0;
		}		
	}
	&__submit {
		height: 50px;
		flex: 1 0 auto;

		@media (max-width: 543px) {
			height: 38px;
			padding: 0 10px;
		}
	}
	&_wrap {
		.close-btn,
		.open-btn {
			display: none;
		}
	}
}

.top-panel__search {
	margin: 0;
	width: 68px;
	height: 50px;

	@include media-breakpoint-up(lg) {
		text-align: right;
	}
	@media (max-width: 543px) {
		width: 100%;
	}
	.search-form {
		display: flex;
		opacity: 0;
		visibility: hidden;
		padding: 0;
		position: absolute;
		width: 345px;
		right: 50px;
		overflow: hidden;
		transition: 200ms all;

		@media (max-width: 543px) {
			padding: 6px 10px;
			width: calc(100% - 50px);
		}
		&_wrap {
			position: relative;
			padding: 0;

			.close-btn,
			.open-btn {
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				right: 0;
				opacity: 0;
				padding: 0;
				transition: 300ms all;

				a {
					width: 25px;
					font-size: 24px;
					line-height: 50px;
					height: 50px;
					display: inline-block;

					@media (max-width: 543px) {
						width: 50px;
						line-height: 50px;
						height: 38px;
						text-align: center;
					}
					i {
						line-height: 50px;
					}
				}
			}
		}
		&__field {
			transform: translateX(100%);
			transition: 300ms all;
		}
		&__submit {
			transform: translateX(100%);
			transition: 200ms all;
		}
	}

	.search-form_wrap {
		.site-header.centered & {
			left: 0;
		}
		.close-btn {
			opacity: 0;
			visibility: hidden;
			transform: translateX(100%);

			@media (max-width: 543px) {
				transform: translateX(0);
			}
		}
		.open-btn {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
		&.active {
			.site-header.centered & {
				@include media-breakpoint-up(sm) {
					left: 82px;
				}
				@include media-breakpoint-up(xl) {
					left: 0;
				}
			}
			.search-form {
				opacity: 1;
				visibility: visible;

				&__field {
					transform: translateX(0);
				}
				&__submit {
					transform: translateX(0);
				}
			}
			.open-btn {
				opacity: 0;
				visibility: hidden;
				transform: translateX(100%);

				@media (max-width: 543px) {
					transform: translateX(0);
				}
			}
			.close-btn {
				opacity: 1;
				visibility: visible;
				transform: translateX(0);
			}
		}
	}
}