.container {
	&.site-header,
	&.site-content,
	&.site-footer {
		> .container {
			@include reset-container();
		}
	}
	@media (max-width: 543px) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

// Theme specific
.site-header,
.site-footer {
	&.container {
		max-width: 100%;
		padding: 0;
	}
}
.site-footer .footer-area-wrap,
.site-footer .footer-container,
.header-container {
	.layout-fullwidth & {
		margin-left: auto;
		margin-right: auto;
		padding-left: 1.5625rem;
		padding-right: 1.5625rem;
	}
}

.site-footer.container {
	@media (max-width: 543px) {
		margin: 30px 10px 10px;
	}
}

// Sidebars
.position-two-sidebars {
	.site-content {
		#sidebar-secondary {
			order: 2;

			@include media-breakpoint-up(md) {
				order: 1;
			}
		}
		#primary {
			order: 1;

			@include media-breakpoint-up(md) {
				order: 2;
			}
		}
		#sidebar-primary {
			order: 3;

			@include media-breakpoint-up(md) {
				order: 3;
			}
		}
	}
	.post.type-post {
		> .row {
			@include media-breakpoint-up(xl) {
				.col-xl-2 {
					flex: 1 0 100%;
					max-width: 100%;
					order: 2;
				}
				.col-xl-10 {
					flex: 1 0 100%;
					max-width: 100%;
					order: 1;
				}
				.stuck {
					position: relative;
					padding: 0;
					top: auto;
					bottom: auto;
				}
			}
		}
	}
}
.position-one-left-sidebar {
	.post.type-post {
		> .row {
			@include media-breakpoint-up(xl) {
				.col-xl-2 {
					order: 2;
				}
				.col-xl-10 {
					order: 1;
				}
			}
		}
	}
}


.row {
	&_vertical-center {
		align-items: center;
	}
}

.stuck {
	@include media-breakpoint-up(xl) {
		position: fixed;
		top: 0;
		z-index: 100;
		bottom: auto;
		padding-top: 11px;

		.admin-bar & {
			padding-top: 43px;
		}
	}
	@media (max-width: 1200px) {
		position: relative !important;
	}
}
.sticky-wrapper {
	@media (max-width: 1200px) {
		height: auto !important;
	}
}

.entry-content {
	.row {
		&[class*='column-group'] {
			p.empty {
				margin: 0;
			}
			> [class*='col-'] {
				img {
					margin-top: 0;
					margin-bottom: 0;
				}
				h5 {
					margin-top: 0;
				}
			}
		}

	}
}

.on-mobile {
	display: block;

	@include media-breakpoint-up(sm) {
		display: none;
	}
}
.on-desktop {
	display: block;
	
	@include media-breakpoint-up(sm) {
		display: none;
	}
}