/* Typography */
body {
	font-style: $body_font_style;
	font-weight: $body_font_weight;
	font-size: $body_font_size{px};
	line-height: $body_line_height;
	font-family: $body_font_family;
	letter-spacing: $body_letter_spacing{px};
	text-align: $body_text_align;
	color: $regular_text_color;
}
h1,
.h1-style {
	font-style: $h1_font_style;
	font-weight: $h1_font_weight;
	font-size: @font_size($h1_font_size, multiple, ceil, 0.3)px;
	line-height: $h1_line_height;
	font-family: $h1_font_family;
	letter-spacing: $h1_letter_spacing{px};
	text-align: $h1_text_align;
	color: $regular_h1_color;
}
h2,
.h2-style {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 0.5)px;
	line-height: $h2_line_height;
	font-family: $h2_font_family;
	letter-spacing: $h2_letter_spacing{px};
	text-align: $h2_text_align;
	color: $regular_h2_color;
}
h3,
.h3-style {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 0.666)px;
	line-height: $h3_line_height;
	font-family: $h3_font_family;
	letter-spacing: $h3_letter_spacing{px};
	text-align: $h3_text_align;
	color: $regular_h3_color;
}
h4,
.h4-style {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: @font_size($h4_font_size, multiple, ceil, 0.7692)px;
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	letter-spacing: $h4_letter_spacing{px};
	text-align: $h4_text_align;
	color: $regular_h4_color;
}
h5,
.h5-style,
.comment-reply-title {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: $h5_font_family;
	letter-spacing: $h5_letter_spacing{px};
	text-align: $h5_text_align;
	color: $regular_h5_color;
}
h6,
.h6-style {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: $h6_font_family;
	letter-spacing: $h6_letter_spacing{px};
	text-align: $h6_text_align;
	color: $regular_h6_color;
}
	@media (min-width: 1200px) {
		h1,
		.h1-style { font-size: $h1_font_size{px}; }
		h2,
		.h2-style { font-size: $h2_font_size{px}; }
		h3,
		.h3-style { font-size: $h3_font_size{px}; }
		h4,
		.h4-style { font-size: $h4_font_size{px}; }
	}
	
.breadcrumbs__item {
	font-style: $breadcrumbs_font_style;
	font-weight: $breadcrumbs_font_weight;
	font-size: $breadcrumbs_font_size{px};
	line-height: $breadcrumbs_line_height;
	font-family: $breadcrumbs_font_family;
	letter-spacing: $breadcrumbs_letter_spacing{px};
	text-align: $breadcrumbs_text_align;
}
.small,
small,
input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
select,
textarea {
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
}

.small-bold {
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
}

a, a:active, a:focus,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.entry-content h1 a,
.entry-content h2 a,
.entry-content h3 a,
.entry-content h4 a,
.entry-content h5 a,
.entry-content h6 a,
.not-found .page-title { 
	color: $regular_link_color; 
}
a:hover,
.entry-content h1 a:hover,
.entry-content h2 a:hover,
.entry-content h3 a:hover,
.entry-content h4 a:hover,
.entry-content h5 a:hover,
.entry-content h6 a:hover { 
	color: $regular_link_hover_color; 
}

mark, ins {
	background-color: $regular_accent_color_3;
}

::-webkit-input-placeholder { color: $regular_text_color; }
::-moz-placeholder          { color: $regular_text_color; }
:-moz-placeholder           { color: $regular_text_color; }
:-ms-input-placeholder      { color: $regular_text_color; }

.site-logo {
	font-style: $header_logo_font_style;
	font-weight: $header_logo_font_weight;
	font-size: $header_logo_font_size{px};
	font-family: $header_logo_font_family;
}
.site-logo__link,
.site-logo__link:hover,
.site-logo__link:active,
.site-logo__link:visited {
	color: $regular_accent_color_2;
}

/* Invert Color Scheme */
.invert { color: $invert_text_color; }
.invert h1,
.invert .h1-style { color: $invert_h1_color; }
.invert h2,
.invert .h2-style { color: $invert_h2_color; }
.invert h3,
.invert .h3-style { color: $invert_h3_color; }
.invert h4,
.invert .h4-style { color: $invert_h4_color; }
.invert h5,
.invert .h5-style { color: $invert_h5_color; }
.invert h6,
.invert .h6-style { color: $invert_h6_color; }

.invert a:hover { color: $invert_link_hover_color; }
.invert h1 a:hover,
.invert .h1-style a:hover { color: $invert_link_color; }
.invert h2 a:hover,
.invert .h2-style a:hover { color: $invert_link_color; }
.invert h3 a:hover,
.invert .h3-style a:hover { color: $invert_link_color; }
.invert h4 a:hover,
.invert .h4-style a:hover { color: $invert_link_color; }
.invert h5 a:hover,
.invert .h5-style a:hover { color: $invert_link_color; }
.invert h6 a:hover,
.invert .h6-style a:hover { color: $invert_link_color; }

/* Header */
.header-container {
	background-color: $header_bg_color;
	background-image: url($header_bg_image);
	background-repeat: $header_bg_repeat;
	background-position: $header_bg_position_x top;
	background-attachment: $header_bg_attachment;
}
.top-panel {
	background-color: $top_panel_bg;
}

.boxed-wrap {
	max-width: $container_width{px};
	margin: 0 auto;
}

/* Content */
@media (min-width: 1200px) {
	.container {
		max-width: $container_width{px};
	}
}


/* Color styles */
.regular_accent_color_1 {
	color: $regular_accent_color_1;
}
.regular_accent_color_2 {
	color: $regular_accent_color_2;
}
.regular_accent_color_3 {
	color: $regular_accent_color_3;
}
.regular_accent_color_4 {
	color: $regular_accent_color_4;
}
.regular_text_color {
	color: $regular_text_color;
}
.invert_accent_color_1 {
	color: $invert_accent_color_1;
}
.invert_accent_color_2 {
	color: $invert_accent_color_2;
}
.invert_accent_color_3 {
	color: $invert_accent_color_3;
}
.invert_text_color {
	color: $invert_text_color;
}

/* Background styles */
.regular_accent_color_1_background {
	background-color: $regular_accent_color_1;
}
.regular_accent_color_2_background {
	background-color: $regular_accent_color_2;
}
.regular_accent_color_3_background {
	background-color: $regular_accent_color_3;
}
.regular_accent_color_4_background {
	background-color: $regular_accent_color_4;
}
.invert_accent_color_1_background {
	background-color: $invert_accent_color_1;
}
.invert_accent_color_2_background {
	background-color: $invert_accent_color_2;
}
.invert_accent_color_3_background {
	background-color: $invert_accent_color_3;
}