.widget-about-author {
	text-align: center;

	.full-width-header-area &,
	.after-content-full-width-area & {
		text-align: left;
	}
	.before-content-area &,
	.before-loop-area &,
	.after-content-area &,
	.after-loop-area &,
	.footer-area & {
		text-align: left;
	}
	.position-two-sidebars .before-loop-area &,
	.position-two-sidebars .after-loop-area & {
		text-align: center;
	}
}
.about-author {
	&:after {
		clear: both;
		content: "";
		width: 100%;
		display: block;
	}
	&_avatar {
		text-align: center;
		padding: 5px 0 0;

		.full-width-header-area &,
		.after-content-full-width-area &,
		.before-content-area &,
		.before-loop-area &,
		.after-content-area &,
		.after-loop-area & {
			margin: 0 0 10px;

			@include media-breakpoint-up(sm) {
				margin: 0 30px 0 0;
				float: left;
			}
		}
		.position-two-sidebars .before-loop-area &,
		.position-two-sidebars .after-loop-area & {
			float: none;
			margin: 0;
		}
	}
	&_content {
		.full-width-header-area &,
		.after-content-full-width-area &,
		.before-content-area &,
		.before-loop-area &,
		.after-content-area &,
		.after-loop-area & {
			overflow: hidden;
		}
		.position-two-sidebars .before-loop-area &,
		.position-two-sidebars .after-loop-area & {
			overflow: visible;
		}
	}
	&_name {
		margin: 0;
		padding: 15px 0;
	}
	&_description {
		padding: 0 0 20px;
	}
	&_btn_box {
		border-top: 1px solid $color__background-hr;
		padding: 15px 0 5px;
		@include media-breakpoint-up(lg) {
			padding: 30px 0 6px;
		}
		.footer-area & {
			border-top: 1px solid rgba(255,255,255,.2);
		}
		.sidebar-primary &,
		.sidebar-secondary &,
		.position-two-sidebars .before-loop-area &,
		.position-two-sidebars .after-loop-area & {
			margin: 0 -10px;
			padding-left: 10px;
			padding-right: 10px;
			@include media-breakpoint-up(lg) {
				margin: 0 -30px;
				padding-left: 30px;
				padding-right: 30px;
			}
		}
	}
}