.widget.widget-banner {
	> .widget-title {
		display: none;
	}
	.widget-banner {
		&__link {
			position: relative;
			vertical-align: top;
			display: block;
		}
		&__img {
			vertical-align: top;
			width: 100%;
			opacity: .88;
		}
		&__descr {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			z-index: 100;
			text-align: center;
			padding: 10px;

			@include media-breakpoint-up(lg) {
				width: 50%;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&__title {
			position: relative;
			padding: 28px 0 14px;

			&:before {
				content: '';
				width: 253px;
				max-width: 100%;
				height: 2px;
				background: #fff;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
		&__text {
			position: relative;
			padding: 0 0 47px;

			&:after {
				content: '';
				width: 253px;
				max-width: 100%;
				height: 2px;
				background: #fff;
				position: absolute;
				bottom: 0;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
}