.swiper-carousel-container{
	position: relative;

	.swiper-pagination {
		position:static;
	}
	&.with-title {
		.swiper-button-next,
		.swiper-button-prev {
			top: 0;
			margin-top: -45px;
			color: #989a9e;

			@include media-breakpoint-up(lg) {
				margin-top: -70px;
			}
		}
		.swiper-button-prev {
			left: auto;
			right: 35px;
		}
	}
}
.widget_carousel {
	.swiper-wrapper {
		.swiper-slide {
			display: flex;
			height: auto;
		}
	}
}
.swiper-button-next, 
.swiper-button-prev{
	top: 38%;
	width: auto;
	height: auto;
	margin:0;
	background: none;
	display: none;

		i {
			margin: 0;
			font-size: 32px;
		}
		&.button-prev{
			left: 0;
		}
		&.button-next{
			right: 0;
		}
}
.swiper-wrapper{
	.post{
		margin-bottom: 13px;
		padding: 0;
		
		.inner{
			width: 100%;
			overflow: hidden;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: rgba(41,39,42,1);
				background: linear-gradient(to bottom, rgba(41,39,42,0) 0%, rgba(41,39,42,0.8) 100%);
				width: 100%;
				height: 100%;
			}
		}
		.entry {
			&-header {
				padding-top: 0;

				.post-thumbnail__link {
					display: block;

					img {
						width: 100%;
					}
				}
			}
			&-content {
				margin: 0;
				padding: 20px;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;
				z-index: 10;

				@include media-breakpoint-up(lg) {
					padding: 24px 40px;
				}
				.btn {
					margin: 10px 0 0;
					background: none;
					padding: 10px 20px;
				}
				.post__date {
					margin-right: 20px;
				}
				.post__excerpt {
					margin: 10px 0 0;
				}
				.entry-meta {
					margin: 10px 0 0;
				}
				h3 {
					margin: 0 0 1px;
				}
				i {
					font-size: 1em;
					display: inline-block;
					vertical-align: middle;
					margin: 0 5px 0 0;
				}
			}
		}
	}
}
