div.wpcf7 {
	margin: 26px 0;

	p {
		margin-bottom: 30px;
	}
	.wpcf7-form-control-wrap input {
		width: 100%;
	}
	.wpcf7-not-valid {
		border-color: $color__not-valid;
		background: rgba(red($color__not-valid), green($color__not-valid), blue($color__not-valid), .1);
	}
	.wpcf7-not-valid-tip {
		color: $color__not-valid;
		font-size: .8em; 
		margin: 5px 0 0 5px;
	}
	.wpcf7-validation-errors, .wpcf7-mail-sent-ng, .wpcf7-mail-sent-ok {
		margin:1.5em 0;
		padding:1em 2em;
		color:#fff;
		border:none;
	}
	.wpcf7-validation-errors, 
	.wpcf7-mail-sent-ng {
		background: $color__not-valid;

	}
	.wpcf7-mail-sent-ok {
		background: $color__valid;
	}
	textarea {
		min-height: 248px;
	}
}