.widget-custom-postson {
	.custom-posts-holder {
		position: relative;
		padding-top: 25px;
		padding-bottom: 25px;

		.footer-area & {
			padding-top: 0;
			padding-bottom: 0;
		}
		.custom-posts_bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding-left: 1.5625rem;
			padding-right: 1.5625rem;
			background-clip: content-box;

			.footer-area & {
				background: none;
			}
		}
		.post {
			.post-inner {
				padding: 20px;

				@include media-breakpoint-up(xl) {
					padding: 15px 40px;
				}
				.footer-area & {
					padding: 20px 0;
				}
			}
			&-image {
				margin: 0 0 20px;

				@include media-breakpoint-up(xl) {
					float: left;
					margin: 0 20px 0 0;
				}
				& + .post-content {
					overflow: hidden;
				}
			}
			&-meta {
				> * {
					display: block;
					margin: 0 10px 0 0;
					
					@include media-breakpoint-up(lg) {
						display: inline-block;
						margin: 0 20px 0 0;
					}
				}
			}
		}
	}
}