.widget{
	ul{
		margin: 0px 0px;
		padding: 0 0;

		& li {
			list-style: none;
			margin: 0;
			padding: 0 0 7px;
			position: relative;

			&:last-child {
				padding: 0;
			}
			& > ul{
				margin-bottom: 0;
				margin-left: 1em;
				margin-top: 7px;
			}
		}
	}
	&.widget_archive,
	&.widget_meta,
	&.widget_rss,
	&.widget_recent_comments,
	&.widget_recent_entries,
	&.widget_categories,
	&.widget_pages,
	&.widget_nav_menu {
		li {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}
.before-content-area,
.after-content-area,
.before-loop-area,
.after-loop-area,
.full-width-header-area{
	& .widget_archive,
	& .widget_meta,
	& .widget_rss,
	& .widget_recent_comments,
	& .widget_recent_entries,
	& .widget_categories,
	& .widget_pages {
		& > ul{
			&::after {
				content:'';
				display: block;
				clear: both;
			}
			> li{
				@include media-breakpoint-up(sm) {
					width: 48%;
					margin-left: 2%;
					float: left;

					&:nth-child(2n+1) {
						margin-left: 0;
					}
				}
				@include media-breakpoint-up(md) {
					width: 23%;
					margin-left: 2%;
					float: left;

					&:nth-child(2n+1) {
						margin-left: 2%;
					}
					&:nth-child(4n+1) {
						margin-left: 0;
					}
				}
			}
		}
	}
	& .widget_rss,
	& .widget_recent_comments,
	& .widget_recent_entries{
		& ul{
			margin-left: -2%;
			& > li{
				&:first-child{
					padding-top: 21px;
					margin-left: 2%;
				}
				&:nth-child(1), &:nth-child(2), &:nth-child(3){
					border-top: none;
					padding-top: 0;
				}
				@include media-breakpoint-up(sm) {
					width: 48%;
					margin-left: 2%;
					float: left;
				}
				@include media-breakpoint-up(md) {
					width: 31%;
					margin-left: 2%;
					float: left;
				}
			}
		}
	}
}
/*--------------------------------------------------------------
# Widget calendar
--------------------------------------------------------------*/
.widget_calendar{
	h4{
		margin: 0 0 24px 0;
	}
	.calendar_wrap{
		table{
			margin: 0px 0 0 -2px;
		}
		caption{
			@include font-size(1);
			padding: 13px 10px;
			margin-bottom: 24px;
		}
		th{
			@include font-size(1);
			padding: 0 0 13px 0;
			text-align: center;
			position: relative;
			left: -15px;
		}
		tbody{
			td{
				padding: 0px 0 9px 0;
				width: 15%;
				text-align: center;
				position: relative;
				left: -15px;
				a{
					position: relative;
					display: inline-block;
					width: 20px;
					z-index: 1;
					@include transition( all 0.5s ease );

				}
			}
			tr:first-child > td{
				padding: 14px 0 9px 0;
			}
		}
		#prev, #next{
			@include font-size(1);
			padding: 10px 0 0 0;
		}
		#prev{

		}
		#next{
			text-align: right;
		}
	}
	@media ( max-width: 992px ) {
		h4{
			margin: 0 0 15px 0;
		}
		.calendar_wrap{
			table{
				margin: 0;
			}
		}
	}
}
.footer-area{
	.widget_calendar{
		.calendar_wrap{
			tbody td, th{
				left: 0px;
			}
			td a::before{
				width: 20px;
				height: 20px;
				top: -2%;
				left: -5%;
			}
		}
	}
}
/*--------------------------------------------------------------
# Widget Tag Cloud
--------------------------------------------------------------*/
.widget_tag_cloud{
	.tagcloud{
		margin: 0;
		a{
			padding: 6px 11px;
			border: 2px solid;
			text-decoration: none;
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
			margin: 5px 3px;
		}
	}
}
/*--------------------------------------------------------------
# Widget Recent Posts and Recent Comments
--------------------------------------------------------------*/
/* Recent Posts */
.widget_recent_entries{
	ul{
		li{
			margin: 0 0 24px 0;
			a{
				display: inline-block;
				margin-bottom: 6px;
			}
			.post-date{
				font-size: 14px;
				position: relative;
				display: block;
				margin: 10px 0 0 21px;

				&::before {
					@include material-icon();
					content: "event";
					position: absolute;
					font-size: 16px;
					top: 3px;
					left: -23px;
				}
			}
		}
	}
}
/* Recent Comments */
.widget_recent_comments{
	ul{
		li{
			margin: 14px 0 0 0;

			> a {
				font-size: 1.3em;
				text-transform: none;
				margin-top: 5px !important;
				display: inline-block !important;

				&:before {
					content: '';
					display: block;
				}
			}
		}
	}
}
/* Recent Posts  & Recent Comments */
.widget_recent_comments, 
.widget_recent_entries{
	ul{
		li{
			&:first-child{
				border-top: none;
				padding-top: 0;
			}
			&::before {
				display: none;
			}
		}
	}
}

/* Nav menu */
.widget_nav_menu {
	ul.menu {
		li {
			
		}
	}
}