.widget.widget-image-grid.widget{
	padding: 0;
	box-shadow: none;
	border-radius: 0;
	background: transparent;
}
.widget-image-grid {
	.row{
		margin: 0;
		line-height: 0;
	}
	&__holder {
		padding : 0;
		line-height: normal;
		&:first-child {
			
		}
	}
	&__holder:first-child &__inner, &__holder:first-child &__inner &__content:before {		
		@include media-breakpoint-up(md) {
			border-radius: $border__radius 0 0 $border__radius;
		}
	}
	&__holder:last-child &__inner, &__holder:last-child &__inner &__content:before {
		@include media-breakpoint-up(md) {
			border-radius: 0 $border__radius $border__radius 0;
		}
	}
	&__inner {
		position: relative;
		display: block;
		overflow: hidden;
		
		& img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		padding: 0 30px;
		text-align: center;
		display: flex;
		align-content:center;
		align-items:center;
		justify-content:center;
		flex-wrap:wrap;
		opacity: 0;
		&:hover{
			opacity: 1;
		}
		&::before {
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0.8;
			z-index: -1;
		}
		@include transition( all 0.5s ease );
	}
	&__title{
		margin: 0px 0px 8px 5px;
		padding: 6px 0px;
		display: block;
		
		a{
			display: inline-block;
			text-decoration: none;
			@include transition( all 0.5s ease );
			&:hover{
				color:inherit;
			};
		}
	}
	&__link{
		font-size: 14px;
		transition:inherit;
		i{
			font-size: 16px;
			margin: 0px 7px 0px 7px;
			position: relative;
			top: 4px;
			transition:inherit;
		}
	}
}

.position-two-sidebars .columns-number-3 {
	.widget-image-grid {
		&__content {
			padding: 0 10px;
		}
		&__title {
			font-size: 16px;
		}
		&__link {
			display:none;
		}
	}
}