.instagram {
	&__items {
		display: flex;
		flex-flow: row wrap;
		margin-left: 0;
		margin-right: 0;
	}
	&__item {
		position: relative;
		flex: auto;
		min-height: 1px;
		padding: 0;

		> div {
			padding: 0 5px;
			text-align: center;
			
			&:last-of-type {
				margin-bottom: 10px;
			}
		}
	}
	&__link {
		position: relative;
		overflow: hidden;
		display: block;

		&:hover {
			.instagram__cover {
				opacity: .5;
			}
		}
		& + div {
			margin-top: 10px;
		}
	}
	&__img {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
	&__cover {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #fff;
		opacity: 0;
		text-align: center;
		transition: all .25s ease-out;

		&:before {
			@include material-icon;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			content: '\E8F4';
			font-size: 2em;
			transform: translate(-50%, -50%);
		}
	}
}
.instagram__items {
	&.items-1 {
		.instagram__item {
			flex: 1 0 100%;
			max-width: 100%;
		}
	}
	&.items-2 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;
			
			@include media-breakpoint-up(md) {
				flex: 1 0 50%;
				max-width: 50%;
			}
		}
	}
	&.items-3 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(md) {
				flex: 1 0 33.3333333334%;
				max-width: 33.3333333334%;
			}
		}
	}
	&.items-4 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(sm) {
				flex: 1 0 50%;
				max-width: 50%;
			}
			@include media-breakpoint-up(md) {
				flex: 1 0 25%;
				max-width: 25%;
			}
		}
	}
	&.items-5 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(sm) {
				flex: 1 0 50%;
				max-width: 50%;
			}
			@include media-breakpoint-up(md) {
				flex: 1 0 20%;
				max-width: 20%;
			}
		}
	}
	&.items-6 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(sm) {
				flex: 1 0 50%;
				max-width: 50%;
			}
			@include media-breakpoint-up(md) {
				flex: 1 0 33.3333333334%;
				max-width: 33.3333333334%;
			}
			@include media-breakpoint-up(lg) {
				flex: 1 0 16.66666666666667%;
				max-width: 16.66666666666667%;
			}
		}
	}
	&.items-7 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(sm) {
				flex: 1 0 50%;
				max-width: 50%;
			}
			@include media-breakpoint-up(md) {
				flex: 1 0 25%;
				max-width: 25%;
			}
			@include media-breakpoint-up(lg) {
				flex: 1 0 14.28571428571429%;
				max-width: 14.28571428571429%;
			}
		}
	}
	&.items-8 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(sm) {
				flex: 1 0 50%;
				max-width: 50%;
			}
			@include media-breakpoint-up(md) {
				flex: 1 0 25%;
				max-width: 25%;
			}
			@include media-breakpoint-up(lg) {
				flex: 1 0 12.5%;
				max-width: 12.5%;
			}
		}
	}
	&.items-9 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(sm) {
				flex: 1 0 33.3333333334%;
				max-width: 33.3333333334%;
			}
			@include media-breakpoint-up(md) {
				flex: 1 0 16.66666666666667%;
				max-width: 16.66666666666667%;
			}
			@include media-breakpoint-up(lg) {
				flex: 1 0 11.11111111111%;
				max-width: 11.11111111111%;
			}
		}
	}
	&.items-10 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(sm) {
				flex: 1 0 20%;
				max-width: 20%;
			}
			@include media-breakpoint-up(lg) {
				flex: 1 0 10%;
				max-width: 10%;
			}
		}
	}
	&.items-11 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(sm) {
				flex: 1 0 33.3333333334%;
				max-width: 33.3333333334%;
			}
			@include media-breakpoint-up(md) {
				flex: 1 0 16.66666666666667%;
				max-width: 16.66666666666667%;
			}
			@include media-breakpoint-up(lg) {
				flex: 1 0 9.090909090909091%;
				max-width: 9.090909090909091%;
			}
		}
	}
	&.items-12 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(sm) {
				flex: 1 0 33.3333333334%;
				max-width: 33.3333333334%;
			}
			@include media-breakpoint-up(md) {
				flex: 1 0 16.66666666666667%;
				max-width: 16.66666666666667%;
			}
			@include media-breakpoint-up(lg) {
				flex: 1 0 8.333333333333333%;
				max-width: 8.333333333333333%;
			}
		}
	}
	.instagram__item {
	.sidebar-primary &,
		.sidebar-secondary & {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(md) {
				flex: 1 0 33.3333333334%;
				max-width: 33.3333333334%;
			}
		}
	}
}
.footer-area {
	.col-sm-1, .col-md-1, .col-lg-1,
	.col-sm-2, .col-md-2, .col-lg-2,
	.col-sm-3, .col-md-3, .col-lg-3,
	.col-sm-4, .col-md-4, .col-lg-4,
	.col-sm-5, .col-md-5, .col-lg-5,
	.col-sm-6, .col-md-6, .col-lg-6 {
		.instagram__item {
			flex: 1 0 50%;
			max-width: 50%;

			@include media-breakpoint-up(md) {
				flex: 1 0 33.3333333334%;
				max-width: 33.3333333334%;
			}
		}
	}
}