.widget-playlist-slider{
	.playlist-slider{
		position: relative;
		opacity: 0;
		.playlist-img{
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		.sp-slide{
			iframe, .wp-video-shortcode, .wp-video {
				height: 100% !important;
				width: 100% !important;
			}
			.playlist-img, .sp-slide-content, .sp-slide-preview{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.sp-slide-content{
				height: auto;
				bottom: 0;
				top: inherit;
				z-index: 1;
				padding: 20px 20px;
				display: none;
				@include media-breakpoint-up(md) {
					display: block;
				}
				div{
					margin-bottom: 10px;
					&:last-child{
						margin-bottom: 0;
					}
				}
				.post-date, .post-author{
					i{
						padding-right: 10px;
					}
				}
				.post_tag, .category{
					a{
						padding: 0 6px;
						margin: 0 0 3px 0;
					}
				}
				h5{
					margin-top: 0;
				}
			}
			&.post-format-video {
				.sp-slide-content{
					display: none;
				}
			}
		}
		.sp-thumbnail{
			.sp-selected-thumbnail{

			}
			.thumbnail-content{
				position: relative;
				z-index: 1;
				padding: 10px;
			}
			.playlist-img {
				height: 122px;
				width: 150px;
				float: left;
				margin-right: 15px;
				@media (max-width: 991px){
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}
			.sidebar-primary &,
			.sidebar-secondary &,
			.before-loop-area &,
			.after-loop-area &,
			.footer-area &{
				.playlist-img {
						position: absolute;
						width: 100%;
						height: 100%;
				}
			}
		}
		.sp-thumbnail:after, .sp-slide:after {
			content:'';
			display: block;
			clear: both;
		}
	}

}