.widget-popular-postson {
	.widget-title {
		padding-top: 12px;
	}
	.popular-posts-holder {
		@media (max-width: 543px) {
			margin: 0;
		}
		.post {
			padding: 20px 0;

			@include media-breakpoint-up(sm) {
				flex: 1 0 100%;
				max-width: 100%;
				padding-top: 0;
				padding-left: $card-deck-margin / 2;
				padding-right: $card-deck-margin / 2;
				padding-bottom: $card-deck-margin;

				&:nth-child(6n+1),
				&:nth-child(6n) {
					flex: 1 0 100%;
					max-width: 100%;
				}
				&:last-child {
					padding-bottom: $card-deck-margin / 2;
				}
			}
			@include media-breakpoint-up(md) {
				flex: 1 0 50%;
				max-width: 50%;

				&:nth-child(6n+1),
				&:nth-child(6n) {
					flex: 1 0 100%;
					max-width: 100%;
				}
				&:last-child {
					padding-bottom: $card-deck-margin;
				}
			}
			@include media-breakpoint-up(xl) {
				flex: 1 0 25%;
				max-width: 25%;

				&:nth-child(6n+1),
				&:nth-child(6n) {
					flex: 1 0 50%;
					max-width: 50%;
				}
			}
			.sidebar-primary &,
			.sidebar-secondary & {
				flex: 1 0 100%;
				max-width: 100%;

				&:nth-child(6n+1),
				&:nth-child(6n) {
					flex: 1 0 100%;
					max-width: 100%;
				}
			}
			.post-inner {
				.post-image {
					margin: 0 0 19px;

					a {
						display: block;

						img {
							width: 100%;
						}
						@include media-breakpoint-up(sm) {
							display: inline;

							img {
								width: auto;
							}
						}
					}
				}
				.post-content {
					h4 {
						margin-bottom: 10px;
					}
					.post__cats {
						a {
							margin-right: 3px;
						}
					}
					.post-meta {
						> * {
							margin-right: 20px;
						}
					}
				}
			}
			&.bigger {
				.post-inner {
					position: relative;

					.post-image {
						margin: 0 0 19px;

						@include media-breakpoint-up(xl) {
							margin: 0;
						}
						a {
							@include media-breakpoint-up(xl) {
								position: relative;
								display: block;

								&:after {
									content: '';
									position: absolute;
									top: 0;
									left: 0;
									background: rgba(41,39,42,1);
									background: linear-gradient(to bottom, rgba(41,39,42,0) 0%, rgba(41,39,42,0.8) 100%);
									width: 100%;
									height: 100%;
								}
							}
						}
					}
					.post-content {
						h4 {
							margin-bottom: 10px;

							@include media-breakpoint-up(xl) {
								margin-bottom: 17px;
							}
						}
						@include media-breakpoint-up(xl) {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							padding: 36px 40px;
							display: flex;
							flex-direction: column;
							justify-content: flex-end;
							align-items: flex-start;
						}
					}
				}
			}
		}
	}
}