.sidebar-primary, .sidebar-secondary{
	.bitnews-smartslider{
			h2.sp-title{
				font-size: 30px;
				line-height: 30px;
				text-align: center;
			}
	}
}
.bitnews-smartslider{
	position: relative;
	overflow: hidden;
	width: 100%;
	&__instance{
		.sp-full-screen-button{
			color: #fff;
			right: 15px;
		}
		.sp-bottom-thumbnails{
			position: absolute;
			bottom: 60px;
			text-align: center;
			width: 100% !important;
		}
		.sp-thumbnail-container{
			margin-left: 5px;
			margin-right: 5px;

			.sp-selected-thumbnail{
				box-shadow:inset 2px 2px 0 0 rgba(255,255,255,1);
			}
		}
		.sp-arrows{
			.sp-arrow{
				width: 32px;
				height: 32px;
				background: none;
				border: 2px solid;
				color: #87878a;

				&:before{
					@include material-icon();
					transform: none;
					background-color: transparent;
					position: relative;
					width: 1em;
					height: 1em;
					margin: 0;
					right: 0;
					top: 0;
					left: 0;
					bottom: 0;
					font-size: 32px;
				}
				&:after{
					display: none;
				}
				&.sp-previous-arrow{
					left: 20px;

					@include media-breakpoint-up(lg) {
						left: 100px;
					}
				}
				&.sp-next-arrow{
					right: 20px;

					@include media-breakpoint-up(lg) {
						right: 100px;
					}
				}
				&:hover {
					color: #fff;
				}
			}
		}
		&.sp-horizontal{
			.sp-previous-arrow{
				left: 0;
					&:before{
						content: "keyboard_arrow_left";
					}
			}
			.sp-next-arrow{
				right: 0;
					&:before{
						content: "keyboard_arrow_right";
					}
			}
		}
		&.sp-vertical{
			.sp-arrows{
				margin-left: -25px;
			}
			.sp-previous-arrow{
				top: 0;
					&:before{
						content: "keyboard_arrow_left";
					}
			}
			.sp-next-arrow{
				bottom: 0;
					&:before{
						content: "keyboard_arrow_right";
					}
			}
		}
		.sp-buttons{
			position: absolute;
			bottom: 51px;
				.sp-button{
					width: 14px;
					height: 14px;
					border: none;
					margin: 0 9px;
					background: #989a9e;

					&.sp-selected-button,
					&:hover {
						background-color: #fff;
					}
				}
		}

		h2.sp-title{
			font-size: 30px;
			line-height: 40px;
			text-align: center;
			overflow: hidden;
				a{
					color: #fff;
					white-space: nowrap;
				}
			@include media-breakpoint-up(lg) {
				font-size: 60px;
				line-height: 80px;
			}
		}
		p.sp-content{
			text-align: center;
			color: #fff;
		}
		div.sp-more{
			text-align: center;
				a{
					color: #fff;
					padding: 16px 30px;
				}
		}
		.sp-slide{
			&.text-wrapped{
				h2.sp-title{
					font-size: 14px;
					line-height: 18px;
					@include media-breakpoint-up(sm) {
						font-size: 18px;
						line-height: 20px;
					}
					@include media-breakpoint-up(md) {
						font-size: 22px;
						line-height: 22px;
					}
					@include media-breakpoint-up(lg) {
						font-size: 30px;
						line-height: 30px;
					}
					@include media-breakpoint-up(xl) {
						font-size: 40px;
						line-height: 40px;
					}
				}
			}
		}
	}

	&__thumbnails{
		display: inline-block;

		.sp-thumbnail-container{
			border: 2px solid transparent;
			box-sizing: border-box;

			&.sp-selected-thumbnail{
				border-color: #fff;	
			}
		}
	}
	&[data-thumbnails="true"]{
		.sp-buttons{
			bottom: 20%;
		}
	}
}