.widget-subscribe {
	position: relative;
	text-align: center;

	.footer-area & {
		text-align: left;
	}
	.widget-subscribe_with_bg {
		padding: 44px 10px 55px;
		position: relative;

		@include media-breakpoint-up(sm) {
			padding: 75px 40px 88px;
		}
		.sidebar-primary &,
		.sidebar-secondary & {
			@include media-breakpoint-up(sm) {
				padding: 20px;
			}
			@include media-breakpoint-up(lg) {
				padding: 97px 40px 90px;
			}
		}
	}	
	.subscribe-bg {
		&-image,
		&-color {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
		&-image {
			opacity: .4;
			z-index: 2;
			background-position: 50% 50%;
			background-size: cover;
		}
	}
	.widget-title {
		margin: 0 0 15px;

		.footer-area & {
			margin: 3px 0 37px;
		}
	}
	.subscribe-widget_error {
		position: relative;
		z-index: 100;
	}
}
.follow-block,
.subscribe-block {
	position: relative;
	z-index: 10;

	@include media-breakpoint-up(xl) {
		.before-content-area &,
		.after-content-area &,
		.full-width-header-area &,
		.before-loop-area &,
		.after-loop-area & {
			max-width: 667px;
			margin: 0 auto;
		}
	}
}
.follow-block {
	padding: 0 0 35px;
}
.subscribe-block {
	padding: 0;

	.follow-block + & {
		border-top: 2px solid;
		padding: 20px 0 0;

		@include media-breakpoint-up(lg) {
			padding: 39px 0 0;
		}
	}
	&__input-group {
		@include media-breakpoint-up(md) {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-content: stretch;
			align-items: flex-start;
		}
		.sidebar-primary &,
		.sidebar-secondary & {
			display: block;

			@media (min-width: 1500px) {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-content: stretch;
				align-items: flex-start;
			}
		}
		@include media-breakpoint-up(xl) {
			.before-content-area &,
			.after-content-area &,
			.full-width-header-area &,
			.before-loop-area &,
			.after-loop-area & {
				max-width: 454px;
				margin: 0 auto;
			}
		}
	}
	&__input[type="email"] {
		display: block;
		order: 0;
		align-self: auto;
		border: 2px solid;
		background: none;
		height: 50px;
		width: 100%;
		margin: 0 0 10px;
		min-width: 1px;

		@include media-breakpoint-up(md) {
			max-width: calc(100% - 50px);
			border-right: none;
		}
		.sidebar-primary &,
		.sidebar-secondary &,
		.footer-area & {
			max-width: inherit;
			border-right: 2px solid #fff;

			@media (min-width: 1500px) {
				max-width: calc(100% - 50px);
				border-right: none;
			}
		}
	}
	&__submit {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		order: 0;
		flex: 0 0 auto;
		align-self: auto;
		height: 50px;
		line-height: 48px;
		padding: 0 30px;
		background: none;

		@include media-breakpoint-up(md) {
			max-width: 40%;

			.sidebar-primary &,
			.sidebar-secondary &,
			.footer-area & {
				max-width: inherit;
			}
		}
		.sidebar-primary &,
		.sidebar-secondary & {
			max-width: inherit;

			@media (min-width: 1500px) {
				max-width: 40%;
			}
		}
		&.btn {
			background: none;

			.invert & {
				background: none;
			}
		}
	}
	&__message {
		padding: 0 0 24px;
	}
	&__messages {
		position: absolute;
		width: 100%;
		font-size: .75em;
	}
}