.widget-taxonomy-tiles.widget{
	padding: 0;
	box-shadow: none;
	border-radius: 0;
	background: transparent;
}
.widget-taxonomy-tiles {
	padding: 0;
	box-shadow: none;
	border-radius: 0;

	.row {
		&.columns-number-1 {
			> div {
				flex: 1 0 100%;
				max-width: 100%;
			}
		}
	}
	&__holder {
		padding: 0;
		float: left;
		line-height: normal;
		transform: translateZ(0);
	}

	&__inner {
		position: relative;
		overflow: hidden;
		border-radius: $border__radius;
		
		.tiles-columns &{
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.term-img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.tiles-columns{
		.term-img {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		padding: 10px;
		z-index: 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&:before {
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: .8;
			z-index: -1;
			@include transition( all 0.5s ease );
		}
		i.material-icons{
			position: absolute;
			top: 50%;
			right: 26px;
			margin-top: -11px;
		}
	}
	&__title{
		margin: 0 0 10px;
	}
	a{
		text-decoration: none;
		color: inherit;
	}
	.post-count{
		margin: 10px 0 0;
		display: inline-block;
	}
	.tile_item{
		float: left;
		margin-bottom: -1px;
	}
	.post-desc{
		margin: 16px 0 0 0;
	}
	.tiles-columns{
		padding-top: 2px;
		margin: 0 -3px 0 0;
		display: block;
		line-height: 0;
		&:after {
			content:'';
			display: block;
			clear: both;
		}
		@include tiles(tile-xs-x, width, 1);
		@include tiles(tile-sm-x, width, 2);
		@include tiles(tile-md-x, width, 3);
		@include tiles(tile-lg-x, width, 4);
		@include tiles(tile-xl-x, width, 6);

		@include tiles(tile-xs-y, height, 1);
		@include tiles(tile-sm-y, height, 2);
		@include tiles(tile-md-y, height, 3);
		@include tiles(tile-lg-y, height, 4);
		@include tiles(tile-xl-y, height, 6);

		.tile-xs-x, .tile-sm-x, .tile-md-x, .tile-lg-x, .tile-xl-x{
			.sidebar-primary &,
			.sidebar-secondary &,
			.footer-area &{
				width: 50%;
			}
		}

	}
}
@media (min-width: 768px){
	.sidebar-primary, .sidebar-secondary, .footer-area{
		.widget-taxonomy-tiles{
			.columns-number-3, .columns-number-4{
				.widget-taxonomy-tiles__content{
					display: none;
				}
			}
		}
	}
	.col-md-6{
		.before-loop-area, .after-loop-area{
			.widget-taxonomy-tiles{
				.columns-number-4{
					.widget-taxonomy-tiles__content{
						padding: 15px;

						.widget-taxonomy-tiles__title{
							@include font-size(0.875);
						}
						.post-count, .post-desc, i{
							display: none;
						}
					}
				}
			}
		}
	}
}