.sidebar-primary, .sidebar-secondary{
	.news-smart-box{
		.news-smart-box__navigation{
			flex-flow: row wrap;
				.current-term{
					margin: 0 0 20px 0;
				}
		}
	}
}
.news-smart-box{
	&__instance{
		.mini-type_inner-wrap {
			padding: 20px;

			@include media-breakpoint-up(lg) {
				padding: 25px 40px;
			}
		}
		article.post{
			&.full-type{
				.inner {
					margin: 0;
					padding: 0;
					position: relative;
					overflow: hidden;

					&:after {
						@include media-breakpoint-up(lg) {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							background: rgba(41,39,42,1);
							background: linear-gradient(to bottom, rgba(41,39,42,0) 0%, rgba(41,39,42,0.8) 100%);
							width: 100%;
							height: 100%;
						}
					}
				}
				.entry {
					&-content {
						padding: 20px 0 0;
						z-index: 100;

						@include media-breakpoint-up(lg) {
							padding: 36px 40px;
							position: absolute;
							width: 100%;
							height: 100%;
							top: 0;
							left: 0;
							display: flex;
							flex-direction: column;
							justify-content: flex-end;
						}
						.footer-area & {
							position: relative;
							padding: 20px 0;
						}
					}
				}
				.smart-box-image {
					width: 100%;
				}
			}
			&.mini-type{
				.entry {
					&-header {
						margin: 0 20px 0 0;
						float: left;

						@include media-breakpoint-up(lg) {
							float: none;
							margin: 0 0 20px;
						}
						@include media-breakpoint-up(xl) {
							float: left;
							margin: 0 20px 0 0;
						}
						@media (max-width: 360px) {
							float: none;
							margin: 0 0 20px;
						}
						.footer-area & {
							float: none;
							margin: 0 0 20px;
						}
					}
					&-content {
						margin-top: 0;
						overflow: hidden;

						h6 {
							margin-top: 0;
							margin-bottom: 8px;
						}
					}
					&-meta {
						margin-bottom: 0;
					}
				}
			}
			.inner{
				padding: 15px 0;
				@include transition(all 0.8s ease);

				&.animate-cycle-show{
					@include opacity(0);
					@include translate( 0, 30px );
					@include transition(all 0s ease);
				}
			}
			.post-thumbnail__link{
				display: block;

				img{
				}
			}
			.entry-meta {
				> * {
					margin-right: 20px;
					padding: 0;
				}
			}
			.post {
				&__cats{
					a {
						margin-right: 3px;
					}
				}
				&__date {
					padding: 0;
				}
			}
		}
		&.layout_type_1{
			.full-type {
				@include media-breakpoint-up(lg) {
					order: 2;
				}
			}
			.mini-type{
				@include media-breakpoint-up(lg) {
					order: 1;
				}
			}
		}
		&.layout_type_2{
			article {
				&.full-type {
					padding-bottom: 35px;
				}
			}
		}
		&.layout_type_3{
			article {
				&.full-type {
					padding-bottom: 35px;

					.inner {
						&:after {
							display: none;
						}
					}
					.entry {
						&-content {
							position: relative;
							margin-top: 20px;
							padding: 0;
						}
						@include media-breakpoint-up(lg) {
							&-header {
								max-width: 50%;
								float: left;
								padding-right: 1.5625rem;
							}
							&-content {
								margin-top: 0;
								width: auto;
								height: auto;
								padding: 0 0 0 1.5625rem;
							}
						}
						&-footer {

						}
					}
				}
			}
		}
	}
	&__navigation{
		margin-bottom: 20px;

		@include media-breakpoint-up(lg) {
			display: flex;
			align-items: flex-start;
			margin-bottom: 41px;

			.footer-area & {
				display: block;
			}
		}

		.current-term{
			flex: 0 1 auto;
			position: relative;

			span{
				display: inline-block;
				vertical-align: middle;
			}
		}
		.terms-list{
			flex: 1 1 auto;

			.footer-area & {
				margin: 20px 0 0;
			}

			.terms-container{
				@include media-breakpoint-up(lg) {
					float: right;
				}
				.footer-area & {
					float: none;
				}
			}

			.term-item {
				position: relative;
				display: inline-block;
				margin: 0;
				cursor: pointer;

				span{
					display: block;
					padding: 0 18px 0 0;
					letter-spacing: .6px;

					@include media-breakpoint-up(lg) {
						padding: 0 0 0 30px;
					}
					.footer-area & {
						padding: 0 5px 0 0;
					}
				}
			}
		}
	}
	&__wrapper{
		position: relative;
	}
	&__listing{
		overflow: hidden;

		.row {
			.footer-area & {
				display: block;
				margin: 0;

				> * {
					padding: 0;
					max-width: 100%;
				}
			}
		}
	}
	&__preloader{
		position: relative;
		display: none;
		width: 100%;
	}
}

.nsb-spinner {
	height: 20px;
	width: 20px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent rgba(0,0,0,.4);
	border-radius: 100%;
	animation: clockwise 0.5s linear infinite;
	display: inline-block !important;
	margin-left: 10px;
	opacity: 0;
	vertical-align: middle;
}

@keyframes clockwise
{
  to {transform: rotate(360deg) translatez(0);}
}