// Variables
$grid-size: 25%;

// Mixins
@mixin cord($top: 0, $left: 0, $right: auto, $bottom: auto) {
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}

// Wrapper
.tm_fpblock__wrapper {
	position: relative;
}

.tm_fpblock {
	display: flex;
}

// Layouts
// Layout #1
.tm_fpblock {
	&.tm_fpblock-layout-1 {
		min-width: $grid-size;
		min-height: $grid-size;
	}
}

// Extra small & Small
@media (max-width: 767px) {
	.tm_fpblock {
		&.tm_fpblock-layout-1 {
			display: block;

			.tm_fpblock__item.tm_fpblock__item-large,
			.tm_fpblock__item.tm_fpblock__item-small,
			.tm_fpblock__item.tm_fpblock__item-small + .tm_fpblock__item-small {
				display: block;
				align-self: auto;
				width: auto;
				min-width: 100%;
				margin-left: 0;
			}
		}
	}
}

// Medium
@media (min-width: 768px) and (max-width: 991px) {
	.tm_fpblock {
		&.tm_fpblock-layout-1 {
			display: flex;
			flex-wrap: wrap;

			.tm_fpblock__item {
				&.tm_fpblock__item-large {
					width: 100%;
					display: block;
				}

				&.tm_fpblock__item-small {
					width: 50%;
				}
			}
		}
	}
}

// Large & Extra large
@media (min-width: 992px) {
	.tm_fpblock {
		&.tm_fpblock-layout-1 {
			display: flex;

			.tm_fpblock__item {
				&.tm_fpblock__item-large {
					width: $grid-size * 2;
					align-self: flex-start;
				}

				&.tm_fpblock__item-small {
					width: $grid-size;
					align-self: flex-start;
				}

				&.tm_fpblock__item-small + .tm_fpblock__item-small {
					align-self: flex-end;
					margin-left: -($grid-size);
				}
			}
		}
	}
}

// Layout #2
.tm_fpblock {
	&.tm_fpblock-layout-2 {
		min-width: $grid-size;
		min-height: $grid-size;
	}
}

// Extra small & Small
@media (max-width: 767px) {
	.tm_fpblock {
		&.tm_fpblock-layout-2 {
			display: block;

			.tm_fpblock__item.tm_fpblock__item-large,
			.tm_fpblock__item.tm_fpblock__item-small {
				display: block;
				align-self: auto;
				width: auto;
				min-width: 100%;
				margin-left: 0;
			}
		}
	}
}

// Medium
@media (min-width: 768px) and (max-width: 991px) {
	.tm_fpblock {
		&.tm_fpblock-layout-2 {
			display: flex;
			flex-wrap: wrap;

			.tm_fpblock__item {
				&.tm_fpblock__item-large {
					width: 100%;
					display: block;
				}

				&.tm_fpblock__item-small {
					width: 50%;
				}
			}
		}
	}
}

// Large & Extra large
@media (min-width: 992px) {
	.tm_fpblock {
		&.tm_fpblock-layout-2 {
			display: flex;

			.tm_fpblock__item {
				&.tm_fpblock__item-large {
					width: $grid-size * 2;
					align-self: flex-start;
				}

				&.tm_fpblock__item-small {
					width: $grid-size;
					align-self: flex-start;
				}

				&.tm_fpblock__item-small.tm_fpblock__item-3,
				&.tm_fpblock__item-small.tm_fpblock__item-5 {
					align-self: flex-end;
					margin-left: -($grid-size);
				}
			}
		}
	}
}

// Layout #3
.tm_fpblock {
	&.tm_fpblock-layout-3 {
		min-width: $grid-size;
		min-height: $grid-size;
	}
}

// Extra small & Small
@media (max-width: 767px) {
	.tm_fpblock {
		&.tm_fpblock-layout-3 {
			display: block;

			.tm_fpblock__item.tm_fpblock__item-large,
			.tm_fpblock__item.tm_fpblock__item-small,
			.tm_fpblock__item.tm_fpblock__item-small-2x {
				display: block;
				align-self: auto;
				width: auto;
				min-width: 100%;
				margin-left: 0;
			}
		}
	}
}

// Medium
@media (min-width: 768px) and (max-width: 991px) {
	.tm_fpblock {
		&.tm_fpblock-layout-3 {
			display: flex;
			flex-wrap: wrap;

			.tm_fpblock__item {
				&.tm_fpblock__item-small-2x,
				&.tm_fpblock__item-large {
					width: 100%;
					display: block;
				}

				&.tm_fpblock__item-small {
					width: 50%;
				}

				&.tm_fpblock__item-small-2x {
					max-height: 50%;
				}
			}
		}
	}
}

// Large & Extra large
@media (min-width: 992px) {
	.tm_fpblock {
		&.tm_fpblock-layout-3 {
			display: flex;

			.tm_fpblock__item {
				&.tm_fpblock__item-large {
					width: $grid-size * 2;
					align-self: flex-start;
				}

				&.tm_fpblock__item-small,
				&.tm_fpblock__item-small-2x {
					width: $grid-size;
					align-self: flex-start;
				}

				&.tm_fpblock__item-small-2x {
					width: $grid-size * 2;
					max-height: 50%;
				}

				&.tm_fpblock__item-small.tm_fpblock__item-3 {
					margin-left: -($grid-size * 2);
				}

				&.tm_fpblock__item-small.tm_fpblock__item-3,
				&.tm_fpblock__item-small.tm_fpblock__item-4 {
					width: $grid-size;
					align-self: flex-end;
				}
			}
		}
	}
}

// Layout #4
.tm_fpblock {
	&.tm_fpblock-layout-4 {
		min-width: $grid-size;
		min-height: $grid-size;
	}
}

// Extra small & Small
@media (max-width: 767px) {
	.tm_fpblock {
		&.tm_fpblock-layout-4 {
			display: block;

			.tm_fpblock__item.tm_fpblock__item-large,
			.tm_fpblock__item.tm_fpblock__item-small,
			.tm_fpblock__item.tm_fpblock__item-small-2x-vertical {
				display: block;
				align-self: auto;
				width: auto;
				min-width: 100%;
				margin-left: 0;
			}
		}
	}
}

// Medium
@media (min-width: 768px) and (max-width: 991px) {
	.tm_fpblock {
		&.tm_fpblock-layout-4 {
			display: block;

			.tm_fpblock__item {

				&.tm_fpblock__item-large {
					width: 100%;
					display: block;
				}

				&.tm_fpblock__item-small-2x-vertical {
					display: inline-block;
					width: 50%;
				}

				&.tm_fpblock__item-small {
					width: 50%;
					float: right;
					margin-bottom: -100%;
				}

				&.tm_fpblock__item-small + .tm_fpblock__item-small {
					margin-bottom: 0;
				}
			}
		}
	}
}

// Large & Extra large
@media (min-width: 992px) {
	.tm_fpblock {
		&.tm_fpblock-layout-4 {
			display: flex;

			.tm_fpblock__item {
				&.tm_fpblock__item-large {
					width: $grid-size * 1.5;
					align-self: flex-start;

					.tm_fpblock__item__preview {
						height: 200%;
					}
				}

				&.tm_fpblock__item-small {
					width: $grid-size;
				}

				&.tm_fpblock__item-small,
				&.tm_fpblock__item-small-2x-vertical {
					align-self: flex-start;
				}

				&.tm_fpblock__item-small-2x-vertical {
					width: $grid-size * 1.5;
				}

				&.tm_fpblock__item-4 {
					margin-left: -($grid-size);
					align-self: flex-end;
				}
			}
		}
	}
}

// Layout #5
.tm_fpblock {
	&.tm_fpblock-layout-5 {
		min-width: $grid-size;
		min-height: $grid-size;
	}
}

// Extra small & Small
@media (max-width: 767px) {
	.tm_fpblock {
		&.tm_fpblock-layout-5 {
			display: block;

			.tm_fpblock__item.tm_fpblock__item-large-2x,
			.tm_fpblock__item.tm_fpblock__item-small,
			.tm_fpblock__item.tm_fpblock__item-small + .tm_fpblock__item-small {
				display: block;
				align-self: auto;
				width: auto;
				min-width: 100%;
				margin-left: 0;
			}
		}
	}
}

// Medium
@media (min-width: 768px) and (max-width: 991px) {
	.tm_fpblock {
		&.tm_fpblock-layout-5 {
			display: flex;
			flex-wrap: wrap;

			.tm_fpblock__item {
				&.tm_fpblock__item-large-2x {
					width: 100%;
					display: block;
				}

				&.tm_fpblock__item-small {
					width: 50%;
				}
			}
		}
	}
}

// Large & Extra large
@media (min-width: 992px) {
	.tm_fpblock {
		&.tm_fpblock-layout-5 {
			display: flex;

			@include media-breakpoint-up(xl) {
				margin-left: -1.5625rem;
				margin-right: -1.5625rem;
			}

			.tm_fpblock__item {
				@include media-breakpoint-up(xl) {
					padding: 1.5625rem;
				}
				&.tm_fpblock__item-large-2x {
					width: $grid-size * 2.33332;
					align-self: flex-start;
					padding-top: 0;
				}

				&.tm_fpblock__item-small {
					width: $grid-size * 1.66668;
					align-self: flex-start;
					overflow: hidden;
					padding-top: 0;
				}

				&.tm_fpblock__item-small + .tm_fpblock__item-small {
					align-self: flex-end;
					margin-left: -($grid-size * 1.66668);
				}

				.tm_fpblock__item__description {

					@include media-breakpoint-up(xl) {
						padding: 47px 62px 62px;
					}
				}
			}
		}
	}
}

.tm_fpblock__item {
	position: relative;

	&__preview {
		height: 100% !important;
		position: relative;
		background-position: 50% 50%;
		overflow: hidden;
		margin: 10px 0;
		background-size: cover;

		@include media-breakpoint-up(lg) {
			margin: 0;
			background-size: auto;
		}

		img {
			opacity: 0;
			height: auto !important;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			background: rgba(41,39,42,1);
			background: linear-gradient(to bottom, rgba(41,39,42,0) 0%, rgba(41,39,42,0.8) 100%);
			width: 100%;
			height: 100%;
		}
	}
	&__description {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		padding: 20px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		h2 {
			margin-bottom: 17px;
		}
	}
	&__meta {
		> * {
			display: inline-block;
			vertical-align: middle;
			margin: 0 20px 0 0;

			i {
				font-size: 1em;
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px 0 0;
			}
		}
	}
	&__content {
		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.tm_fpblock__item__categories {
	margin: 0 0 10px;

	a {
		border: 2px solid;
		background: none;
		padding: 6px 9px 6px 11px;
		display: inline-block;
		margin: 0 0 5px;
		vertical-align: top;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 0.6px;
	}
}