@import "variables";

.card {
	display: block;
	@include word-wrap;
}

//
// Justify layout
//
.card-justify {
	display: flex;
	flex-flow: row wrap;
	margin-right: 0;
	margin-left: 0;

	.card {
		flex: 1 0 0;
		margin-right: 0;
		margin-left: 0;
	}
}
.posts-list {
	&--vertical-justify {
		.card {
			flex: 1 0 100%;
			max-width: 100%;

			&:nth-child(6n+3),
			&:nth-child(6n+4) {
				flex: 1 0 100%;
				max-width: 100%;
			}
			
		}
	}
}
@include media-breakpoint-up(md) {
	.card-justify {
		margin-right: -$card-deck-margin / 2;
		margin-left: -$card-deck-margin / 2;

		.card {
			margin-right: $card-deck-margin / 2;
			margin-left: $card-deck-margin / 2;
		}
	}
	.posts-list {
		&--vertical-justify {
			.card {
				flex: 1 0 calc(100%/2 - #{$card-deck-margin});
				max-width: calc(100%/2 - #{$card-deck-margin});

				&:nth-child(6n+3),
				&:nth-child(6n+4) {
					flex: 1 0 calc(100%/2 - #{$card-deck-margin});
					max-width: calc(100%/2 - #{$card-deck-margin});
				}				
			}
		}
	}
}
@include media-breakpoint-up(xl) {
	.posts-list {
		&--vertical-justify {
			.card {
				flex: 1 0 calc(100%/4 - #{$card-deck-margin});
				max-width: calc(100%/4 - #{$card-deck-margin});

				&:nth-child(6n+3),
				&:nth-child(6n+4) {
					flex: 1 0 calc(100%/2 - #{$card-deck-margin});
					max-width: calc(100%/2 - #{$card-deck-margin});
				}
				
			}
		}
	}
}


//
// Grid layout
//

@include media-breakpoint-up(md) {
	.card-deck {
		display: flex;
		flex-flow: row wrap;
		margin-right: -$card-deck-margin / 2;
		margin-left: -$card-deck-margin / 2;

		.card {
			flex: 1 0 0;
			margin-right: $card-deck-margin / 2;
			margin-left: $card-deck-margin / 2;
		}
	}
	.posts-list {
		&--grid-2-cols {
			.card {
				flex: 1 0 calc(100%/2 - #{$card-deck-margin});
				max-width: calc(100%/2 - #{$card-deck-margin});
			}
		}
		&--grid-3-cols {
			.card {
				flex: 1 0 calc(100%/3 - #{$card-deck-margin});
				max-width: calc(100%/3 - #{$card-deck-margin});
			}
		}
		&--grid-2-cols,
		&--grid-3-cols {
			.sticky {
				.home & {
					flex: none;
					max-width: calc(100% - #{$card-deck-margin});
				}
			}
			.two-sidebars & {
				.card {
					flex: none;
					max-width: calc(100% - #{$card-deck-margin});
				}
			}
		}
	}
	
}


//
// Masonry layout
//

@include media-breakpoint-up(md) {
	.card-columns {
		column-gap: $card-deck-margin;

		.card {
			display: inline-block;
			width: 100%; // Don't let them exceed the column width
		}
	}
	.posts-list--masonry-2-cols { column-count: 2; }
	.posts-list--masonry-3-cols { column-count: 3; }

	.posts-list--masonry-2-cols,
	.posts-list--masonry-3-cols {
		.card {
			position: static;
			display: inline-block;
			width: 100%; // Don't let them exceed the column width
			-webkit-column-break-inside: avoid; /* Chrome, Safari */
			page-break-inside: avoid;
            break-inside: avoid;
            -webkit-transform: translatez(0);

			.post-list__item-content {
				position: relative;
			}
		}
		.two-sidebars & {
			column-gap: normal;
			column-count: auto;
			
			.card {
				display: block;
			}
		}
	}
}
