.site {
	@include hyphens(auto);
	
	@media (max-width: 543px) {
		overflow: hidden;
	}
	&-main {
		.single-post &,
		.page &,
		.single & {
			@include card;
			margin: 0 0 30px;

			@include media-breakpoint-up(lg) {
				margin: 0 0 100px;
			}
		}
	}
	&-content {
		.home & {
			margin-top: 10px;
			margin-bottom: 10px;

			@include media-breakpoint-up(lg) {
				margin-top: 100px;
				margin-bottom: 100px;
			}
		}
	}
}

@import "../layout/layout";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "primary/post-formats";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";
