$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #e0e0e8;
$color__background-button: #448af5;
$color__background-input: #f7fafd;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #e0e0e8;
$color__border-abbr: #666;
$color__border-table: $color__background-hr;

$color__not-valid: #fe5c7a;
$color__valid: #398f14;