$border__radius: 0;
$box__shadow: 0 5px 22px rgba(131,131,131,.1);

$theme__block_size: 3.125rem; // 50px 

$size__site-main: 100%;
$size__site-sidebar: 25%;

$button__indents: 18px 31px 17px;
$button__border-radius: $border__radius;
$button__border: 2px solid;
$button__box-shadow: none;

$embed__ratio: 62.33%;  //  thumbnail height / thumbnail width