.alignleft {
	float: none;
	margin: 0 0 10px;
	
	@include media-breakpoint-up(md) {
		float: left;
		margin: 16px 50px 30px 0;
	}
}

.alignright {
	float: none;
	margin: 0 0 10px;

	@include media-breakpoint-up(md) {
		float: right;
		margin: 16px 0 30px 50px;
	}
}

.aligncenter {
	clear: both;
	@include center-block;
	margin-top: 30px;
	margin-bottom: 30px;

	@include media-breakpoint-up(lg) {
		margin-top: 44px;
		margin-bottom: 35px;
	}
}

.alignnone {
	margin-top: 4px;
	margin-bottom: 15px;

	&.size-full {
		margin: 20px 0;

		@include media-breakpoint-up(lg) {
			margin: 32px 0 30px;
		}
		.page.position-fullwidth & {
			margin: 0;
			width: auto;
		}
		.posts-list & {
			margin: 20px 0;
			width: auto;
			max-width: 100%;
		}
	}
}
