.post {
	&-author {
		&-bio {
			margin: 0 0 40px;
			
			@include media-breakpoint-up(lg) {
				margin: 0 0 94px;
			}
		}
		&__holder {
		}
		&__title {
			margin: 0 0 39px;
		}
		&__avatar {
			margin: 0 0 30px 0;

			@include media-breakpoint-up(sm) {
				float: left;
				margin: 6px 40px 0 0;
			}
			img {
				border-radius: 50%;
			}
		}
		&__content {
			overflow: hidden;
		}
	}
}