.comments {
	&-area {
		position: relative;
		margin: 0 0 30px;

		@include media-breakpoint-up(lg) {
			margin: 100px 0 0;
		}
	}
	&-title {
		position: relative;
		text-align: left;
		margin: 0 0 30px;

		@include media-breakpoint-up(lg) {
			margin: 0 0 44px;
		}
	}
}

.comment {
	&-list {
		list-style: none;
		padding: 0 0 40px;
		margin: 0;

		@include media-breakpoint-up(lg) {
			padding: 0 0 71px;
		}
		li.comment {
			padding-top: 30px;
		}
		> li.comment {
			&:first-child {
				padding-top: 0;
			}
		}
		.children {
			list-style: none;
			padding-left: 0;
			margin-left: 5px;
			padding-top: 0;

			@include media-breakpoint-up(sm) {
				margin-left: 10px;
			}
			@include media-breakpoint-up(lg) {
				margin-left: 30px;
			}
			.position-two-sidebars & {
				margin-left: 0;
			}
		}
	}
	&-wrap {
		@include media-breakpoint-up(lg) {
			overflow: hidden;
		}
	}
	&-body {
		&__holder {
			position: relative;
			padding-right: 30px;

			.comment-content {
				margin-top: 7px;
				margin-bottom: 8px;

				@include media-breakpoint-up(sm) {
					margin-bottom: 0;
					overflow: hidden;
				}
				> * {
					&:first-child {
						margin-top: 0;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.avatar {
			margin: 0 0 15px;
			border-radius: 50%;

			@include media-breakpoint-up(sm) {
				float: left;
				width: 40px;
				margin: 0 15px 0 0;
			}
			@include media-breakpoint-up(lg) {
				width: auto;
				margin: 0 40px 0 0;
			}
		}
		.fn {
			display: block;

			@include media-breakpoint-up(sm) {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.reply {
			position: absolute;
			right: 0;
			top: 0;
			width: 20px;

			i {
				font-size: 20px;
			}
		}
	}
	&-date {
		margin: 0 20px 0 0;

		@include media-breakpoint-up(sm) {
			display: inline-block;
			vertical-align: middle;
		}

		&__time {
			display: inline-block;
			vertical-align: middle;
		}
	}
}