.share-btns {
	&__list {
		margin: 30px 0 0;
		
		@include media-breakpoint-up(xl) {
			margin: 0;
		}
		.posts-list & {
			margin-top: 15px;
		}
	}
	&__item {
		display: inline-block;
		margin: 0 10px 5px 0;

		@include media-breakpoint-up(xl) {
			.single & {
				display: block;
				margin: 0 0 10px;
			}
			.position-two-sidebars.single & {
				display: inline-block;
				margin: 0 10px 5px 0;
			}
		}
	}
	&__link {
		text-decoration: none;
		text-align: center;
		display: inline-block;

		.single & {
			border-radius: 50%;
			font-size: 20px;
			width: 50px;
			height: 50px;
			line-height: 48px;
			border: 2px solid;
			display: block;

			@include media-breakpoint-up(xl) {
				width: 68px;
				height: 68px;
				line-height: 64px;
				font-size: 24px;
			}
		}
		.position-two-sidebars.single & {
			@include media-breakpoint-up(xl) {
				font-size: 20px;
				width: 50px;
				height: 50px;
				line-height: 48px;
			}
		}
	}
}