.not-found {
	padding: 10px;
	text-align: center;
	margin: 0 0 10px;
	
	.page-title {
		margin: 0 0 17px;
	}
	h2 {
		margin-bottom: 39px;
	}
	a.btn {
		margin-bottom: 20px;
		padding-top: 15px;
		padding-bottom: 16px;

		@include media-breakpoint-up(lg) {
			margin-bottom: 76px;
		}
	}
	@include media-breakpoint-up(lg) {
		padding: 34px 30px 90px;
	}
	.search-form_wrap {
		@include media-breakpoint-up(sm) {
			max-width: 486px;
			margin: 44px auto 0;
		}
	}
}
.error404 {
	.breadcrumbs {
		display: none;
	}
}