.btn, .btn:active, .btn:focus,
.post-edit-link, .post-edit-link:active, .post-edit-link:focus,
.nav-links a, .nav-links a:active, .nav-links a:focus,
.comment-form .submit,
.wpcf7-submit,
.post-password-form label + input {
	color: $regular_accent_color_2;
	/*background: $invert_text_color;*/
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
}
.btn:hover,
.post-edit-link:hover,
.nav-links a:hover,
.comment-form .submit:hover,
.wpcf7-submit:hover,
.post-password-form label + input:hover {
	color: $regular_accent_color_1;
}

.btn.btn-secondary,
.invert .btn {
	background: none;
	border-color: $invert_text_color;
	color: $invert_text_color;
}
.btn.btn-secondary:hover,
.invert .btn:hover {
	background: $invert_text_color;
	border-color: $invert_text_color;
	color: $regular_accent_color_2;
}

blockquote {
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 0.92)px;
	line-height: 1.22;
	font-family: $h3_font_family;
	color: $regular_h3_color;
}
blockquote cite {
	font-size: @font_size($h3_font_size, multiple, ceil, 0.42)px;
}
blockquote:before {
	color: $regular_accent_color_1;
}

.post-content ul li, 
.comment-content ul li, 
.entry-content ul li,
.post-content ol > li, 
.comment-content ol > li, 
.entry-content ol > li {
	color: $regular_accent_color_2;
}

.post-content ul li:before, 
.comment-content ul li:before, 
.entry-content ul li:before,
.post-content ol > li:before, 
.comment-content ol > li:before, 
.entry-content ol > li:before {
	color: $regular_accent_color_1;
}

code {
	color: $invert_text_color;
	background: $regular_accent_color_1;
}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"],
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
select, 
textarea {
	background: $regular_accent_color_3;
}

.breadcrumbs__item-link {
	color: $regular_text_color;
}
.breadcrumbs__item-target {
	color: $regular_link_color;
}

.site-header .mobile-block {
	border: 2px solid $regular_accent_color_2;
}
.menu-toggle {
	color: $regular_accent_color_2;
}