.site-footer {
	background-color: $footer_bg;
}
.footer-area-wrap {
	background-color: $footer_widgets_bg;
}

.site-footer a:hover { 
	color: $regular_text_color;
}
.footer-menu__items li a:hover,
.footer-menu__items li.current-menu-item a,
.footer-menu__items li.current_page_item a {
	color: $invert_text_color;
}

.footer-menu__items li:before {
	color: $regular_text_color;
}