.main-navigation ul.menu > li > a,
.main-navigation ul.menu > li > a:visited,
.main-navigation ul.menu > li > a:active,
.menu-item_description,
.main-navigation ul ul a {
	color: $regular_text_color;
}
.main-navigation ul.menu > li:hover > a,
.main-navigation ul.menu > li.menu-hover > a,
.main-navigation ul.menu > li.current_page_item > a,
.main-navigation ul.menu > li.current-menu-item > a,
.main-navigation ul.menu > li.current_page_ancestor > a:hover {
	color: $regular_accent_color_2;
}

.main-navigation ul.menu li a,
.menu-item_description {
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
}

.main-navigation ul.sub-menu > li > a:hover,
.main-navigation ul.sub-menu > li.menu-hover > a,
.main-navigation ul.sub-menu > li.current_page_item > a,
.main-navigation ul.sub-menu > li.current-menu-item > a,
.main-navigation ul.sub-menu > li.current_page_ancestor > a:hover {
	color: $regular_accent_color_1;
}

.main-navigation ul.sub-menu {
	background: $regular_accent_color_3;
}


@media (max-width: 543px) {
	.main-navigation ul.menu li {
		background: $regular_accent_color_3;
	}
}

.main-navigation.stuckMenu {
	background-color: $header_bg_color;
}