#toTop {
	color: $regular_accent_color_1;
	background: $regular_accent_color_1;
}
#toTop:before {
	color: $invert_text_color;
}
#toTop:hover {
	background: $regular_accent_color_2;
	color: $regular_accent_color_2;
}
#toTop:hover span{
	color: $invert_link_color;
}

.la-line-scale > div,
.la-line-scale {
	color: $regular_accent_color_1;
}
.la-line-scale > div {
	
	background-color: $regular_accent_color_1;
}

.error-404 .page-title {
	font-size: @font_size($h1_font_size, multiple, ceil, 2)px;
}