.pagination .page-numbers {
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
	color: $regular_accent_color_2;
}
.pagination a.page-numbers, .pagination a.page-numbers:active, .pagination a.page-numbers:focus {
	color: $regular_accent_color_1;
}
.pagination a.page-numbers:hover,
.pagination a.next.page-numbers i, .pagination a.next.page-numbers:active i, .pagination a.next.page-numbers:focus i,
.pagination a.prev.page-numbers i, .pagination a.prev.page-numbers:active i, .pagination a.prev.page-numbers:focus i {
	color: $regular_accent_color_2;
}