.big-justify-block .entry-title {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 0.666)px;
	line-height: $h3_line_height;
	font-family: $h3_font_family;
	letter-spacing: $h3_letter_spacing{px};
}
@media (min-width: 1500px) {
	.big-justify-block .entry-title {
		color: $invert_text_color;
		font-size: $h3_font_size{px};
	}
}
.big-justify-block.format-quote .entry-title {
	color: $regular_h3_color;
}

.post__cats a, .post__cats a:active, .post__cats a:focus,
.big-justify-block.format-quote a, .big-justify-block.format-quote a:focus, .big-justify-block.format-quote a:active,
.big-justify-block.format-quote .post__cats a, .big-justify-block.format-quote .post__cats a:active, .big-justify-block.format-quote .post__cats a:focus {
	color: $regular_accent_color_2;
}
.post__cats a:hover,
.big-justify-block.format-quote a:hover,
.big-justify-block.format-quote .post__cats a:hover {
	color: $regular_link_color;
}
.post-list__item-content .big-justify-block a.btn,
.post-list__item-content a.btn {
	background: $regular_accent_color_1;
	border: $regular_accent_color_1;
	color: $invert_text_color;
}
.post-list__item-content .big-justify-block a.btn:hover,
.post-list__item-content a.btn:hover {
	background: $regular_accent_color_2;
	border: $regular_accent_color_2;
	color: $invert_text_color;
}

.home.position-one-left-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap, 
.home.position-one-right-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap, 
.home.position-two-sidebars:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap,
.home.position-one-left-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap .entry-title a, 
.home.position-one-right-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap .entry-title a, 
.home.position-two-sidebars:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap .entry-title a,
.home.position-one-left-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap a:hover, 
.home.position-one-right-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap a:hover, 
.home.position-two-sidebars:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap a:hover,
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a,
.search.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a, 
.search.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a,
.post.big-justify-block.format-quote .post-content_wrap, 
.post.big-justify-block.format-audio .post-content_wrap, 
.post.big-justify-block.no-thumb:not(.format-gallery) .post-content_wrap, 
.post.big-justify-block.format-link.no-thumb .post-content_wrap,
.post.big-justify-block.format-quote .post-content_wrap .entry-title a, 
.post.big-justify-block.format-audio .post-content_wrap .entry-title a, 
.post.big-justify-block.no-thumb:not(.format-gallery) .post-content_wrap .entry-title a, 
.post.big-justify-block.format-link.no-thumb .post-content_wrap .entry-title a,
.post.big-justify-block.format-quote .post-content_wrap a:hover, 
.post.big-justify-block.format-audio .post-content_wrap a:hover, 
.post.big-justify-block.no-thumb:not(.format-gallery) .post-content_wrap a:hover, 
.post.big-justify-block.format-link.no-thumb .post-content_wrap a:hover,
.page.big-justify-block.no-thumb .post-content_wrap .entry-title a,
.full-content-on-loop .posts-list .post-content_wrap a:hover,
.full-content-on-loop .posts-list .post-content_wrap .entry-title a,
.position-one-right-sidebar .posts-list--vertical-justify .small-justify-block .post-format-quote, 
.position-one-left-sidebar .posts-list--vertical-justify .small-justify-block .post-format-quote, 
.position-two-sidebars .posts-list--vertical-justify .small-justify-block .post-format-quote,
.position-one-right-sidebar .posts-list--vertical-justify .small-justify-block .post-format-quote cite,
.position-one-left-sidebar .posts-list--vertical-justify .small-justify-block .post-format-quote cite, 
.position-two-sidebars .posts-list--vertical-justify .small-justify-block .post-format-quote cite,
.full-content-on-loop .posts-list .post-content_wrap .post__cats a {
	color: $regular_accent_color_2;
}
.home.position-one-left-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap a, 
.home.position-one-right-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap a, 
.home.position-two-sidebars:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap a,
.home.position-one-left-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap .entry-title a:hover, 
.home.position-one-right-sidebar:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap .entry-title a:hover, 
.home.position-two-sidebars:not(.hidden-sidebars) .post.big-justify-block .post-list__item-content .post-content_wrap .entry-title a:hover,
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover,
.search.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.search.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.search.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover, 
.search.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-title a:hover,
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a:hover, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a:hover, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a:hover,
.search.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a:hover, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a:hover, 
.search.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .post__cats a:hover
.post.big-justify-block.format-quote .post-content_wrap a, 
.post.big-justify-block.format-audio .post-content_wrap a, 
.post.big-justify-block.no-thumb:not(.format-gallery) .post-content_wrap a, 
.post.big-justify-block.format-link.no-thumb .post-content_wrap a,
.post.big-justify-block.format-quote .post-content_wrap .entry-title a:hover, 
.post.big-justify-block.format-audio .post-content_wrap .entry-title a:hover, 
.post.big-justify-block.no-thumb:not(.format-gallery) .post-content_wrap .entry-title a:hover, 
.post.big-justify-block.format-link.no-thumb .post-content_wrap .entry-title a:hover,
.full-content-on-loop .posts-list .post-content_wrap a,
.full-content-on-loop .posts-list .post-content_wrap .entry-title a:hover,
.full-content-on-loop .posts-list .post-content_wrap .post__cats a:hover,
.page.big-justify-block.no-thumb .post-content_wrap .entry-title a:hover,
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a:hover, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a:hover, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a:hover,
.search.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a:hover, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a:hover, 
.search.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a:hover {
	color: $regular_link_color;
}
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a.btn, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a.btn, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a.btn,
.search.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a.btn, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a.btn, 
.search.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a.btn,
.full-content-on-loop .posts-list .post-content_wrap a.btn,
.post.big-justify-block.format-audio .post-content_wrap a.btn,
.post.big-justify-block.format-audio .post-content_wrap a.btn:hover,
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap a, 
.search.position-one-left-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap a, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap a, 
.search.position-two-sidebars .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap a, 
.search.position-one-left-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap, 
.search.position-two-sidebars .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap,
.search.position-one-left-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap .entry-title a, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap .entry-title a, 
.search.position-two-sidebars .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap .entry-title a,
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap, 
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap .entry-title a, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap .entry-title a, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb:not(.format-quote) .post-list__item-content .post-content_wrap .entry-title a {
	color: $invert_text_color;
}
.archive.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-content, 
.archive.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-content, 
.archive.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-content,
.search.position-one-left-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-content, 
.search.position-one-right-sidebar .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-content, 
.search.position-two-sidebars .post.big-justify-block.has-thumb .post-list__item-content .post-content_wrap .entry-content,
.full-content-on-loop .posts-list .post-content_wrap .entry-content {
	color: $regular_text_color;
}

@media (min-width: 1500px) {
	.posts-list--default .post-content_wrap,
	.posts-list--default .post-content_wrap a {
		color: $invert_text_color;
	}
	.posts-list--default .post-content_wrap a:hover,
	.posts-list--default .format-audio .post-content_wrap a:hover,
	.posts-list--default .small-thumbnail .post-content_wrap a:hover {
		color: $invert_link_color;
	}
	.posts-list--default .format-audio .post-content_wrap,
	.posts-list--default .format-audio .post-content_wrap a {
		color: $regular_accent_color_2;
	}
	.posts-list--default .small-thumbnail .post-content_wrap,
	.posts-list--default .small-thumbnail .post-content_wrap a {
		color: $regular_accent_color_2;
	}
}

@media (min-width: 1500px) {
	.big-justify-block a, .big-justify-block a:focus, .big-justify-block a:active,
	.big-justify-block .entry-content {
		color: $invert_text_color;
	}
}
a.post-format-link, a.post-format-link:active, a.post-format-link:focus {
	color: $invert_text_color;
}
a.post-format-link:hover,
.big-justify-block a.post-format-link:hover {
	color: $regular_accent_color_2;
}
a.post-format-link:after {
	background: $regular_accent_color_1;
}
a.post-format-link {
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
}
@media (min-width: 1500px) {
	.big-justify-block a:hover {
		color: $regular_link_color;
	}
	.big-justify-block .post__cats a:hover {
		color: $invert_text_color;
		border-color: $regular_accent_color_1;
	}
}

.post-author__title a:hover {
	color: $regular_link_color;
}

.post-gallery .post-gallery__slide a,
.post-thumbnail a.post-thumbnail__link[data-popup=magnificPopup],
.mini-gallery a.post-thumbnail__link {
	background: $regular_accent_color_1;
}

.post-format-quote {
	background: $regular_accent_color_3;
}
.post-format-quote,
.post-format-quote cite {
	color: $regular_accent_color_2;
}
.post-format-quote:before,
#cancel-comment-reply-link {
	color: $regular_accent_color_1;
}
@media (min-width: 992px) {
	.post-format-quote,
	.post-format-quote cite {
		color: $invert_text_color;
	}
	.post-format-quote:before {
		color: $regular_accent_color_1;
	}
	.post-featured-content.format-quote  {
		background: $regular_accent_color_2;
	}
}
.posts-list--grid-3-cols .post-format-quote,
.posts-list--grid-3-cols .post-format-quote cite {
	color: $regular_accent_color_2;
}
.posts-list--grid-3-cols .post-format-quote:before {
	color: $regular_accent_color_1;
}

#cancel-comment-reply-link:hover {
	color: $regular_accent_color_2;
}
.comment-metadata .fn {
	color: $regular_accent_color_1;
}
.comment-reply-link, .comment-reply-link:focus, .comment-reply-link:active {
	color: $regular_accent_color_2;
}
.comment-reply-link:hover {
	color: $regular_accent_color_1;
}
.comment-form .logged-in-as,
.comment-form .logged-in-as a, 
.comment-form .comment-notes,
.comment-form .comment-notes a {
	color: $regular_text_color;
}
.comment-form .logged-in-as a:hover, 
.comment-form .comment-notes a:hover {
	color: $regular_accent_color_1;
}
.comment-form .logged-in-as a, 
.comment-form .comment-notes a {
	color: $regular_accent_color_1;
}
.comment-form .logged-in-as a:hover, 
.comment-form .comment-notes a:hover {
	color: $regular_accent_color_2;
}


.sticky__label {
	background: $regular_accent_color_1;
}
.sticky__label i {
	color: $invert_text_color;
}
.sticky__label:before {
	border-color: transparent transparent $regular_accent_color_2 transparent;
}
.sticky__label:after {
	border-color: $regular_accent_color_1 transparent transparent transparent;
}