.search-form .search-form__field {
	color: $regular_text_color;
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
}
.search-form .search-form__field::-webkit-input-placeholder { color: $regular_text_color; }
.search-form .search-form__field::-moz-placeholder { color: $regular_text_color; }
.search-form .search-form__field:-moz-placeholder { color: $regular_text_color; }
.search-form .search-form__field:-ms-input-placeholder { color: $regular_text_color; }

.top-panel__search .search-form_wrap.active .search-form__submit {
	background: $invert_text_color;
}