.social-list a,
.social-list a:active,
.social-list a:focus,
.share-btns__link,
.share-btns__link:active,
.share-btns__link:focus {
	color: $regular_text_color;
}
.social-list a:hover,
.share-btns__link:hover {
	color: $regular_accent_color_2;
}
.footer-container .social-list a:hover {
	color: $invert_text_color;
}