.top-panel__menu-list li a,
.top-panel__menu-list li a:active,
.top-panel__menu-list li a:visited {
	color: $regular_accent_color_1;
}

.top-panel__menu-list li.current-menu-item a,
.top-panel__menu-list li.current_page_item a,
.top-panel__menu-list li a:hover {
	color: $invert_text_color;
}

.top-panel__menu-list li:before {
	color: $regular_text_color;
}