.footer-area-wrap {
	&:after {
		content: '';
		width: 100%;
		height: 1px;
		background: rgba(255,255,255,.1);
		display: block;
	}
}
.footer-area {
	padding-top: 40px;
	padding-bottom: 40px;

	@include media-breakpoint-up(lg) {
		padding-top: 88px;
		padding-bottom: 40px;
	}
}
.footer-container {
	padding: 26px 0 36px;
	text-align: center;

	@include media-breakpoint-up(lg) {
		padding: 20px 0 23px;
	}
	@include media-breakpoint-up(xl) {
		text-align: left;
	}
}

@import "footer/layout-default";
@import "footer/layout-centered";
@import "footer/layout-minimal";