.site-header {
	margin-bottom: 20px;
	
	@include media-breakpoint-up(sm) {
		margin-bottom: 30px;
	}
}
.header-container {
	@include media-breakpoint-up(sm) {
		box-shadow: $box__shadow;
	}
}
.header-container {
	padding: 0;

	.social-col {
		.social-list,
		.top-panel__search {
			display: inline-block;
			vertical-align: middle;

			@include media-breakpoint-up(xl) {
				padding-top: 2px;
			}
		}
		.top-panel__search.on-desktop {
			display: none;
			
			@include media-breakpoint-up(sm) {
				display: inline-block
			}
		}
	}
}

@media (max-width: 543px) {
	header.site-header {
		.header-container {
			padding: 10px 10px 0;

			.site-branding {
				@include media-breakpoint-up(sm) {
					margin-right: 50px;
					padding: 0 0 15px;
					text-align: left;
				}
			}
			.social-list {
				padding: 0 0 5px;
			}
			.main-navigation {
				position: relative;
				padding: 0;

				.menu-toggle {
					position: absolute;
					top: -48px;
					left: 0;
				}
			}
		}
	}
}


@import "header/layout-default";
@import "header/layout-centered";
@import "header/layout-minimal";
@import "header/top-panel";
@import "header/logo";