.hentry {
	position: relative;
	margin: 0 0 10px;
	padding: 0;

	@include card;
	@include media-breakpoint-up(sm) {
		margin: 0 0 2.8rem;
		padding: 0;
	}
	.page & {
		box-shadow: none;
		border-radius: 0;
		padding: 0;
		margin: 0;

		@include media-breakpoint-up(sm) {
			padding: 0;
		}
	}
	.single-post & {
		margin: 0;
		padding: 0 0 40px;

		@include media-breakpoint-up(lg) {
			padding: 0 0 87px;
		}
	}
}

.page {
	&.posts-list__item {
		padding: 30px 30px 30px 40px;

		@media (min-width: 768px) and (max-width: 1201px) {
			padding: 20px;
		}
		&.no-thumb {
			@include media-breakpoint-up(sm) {
				border: 2px solid #e1e2e4;
				padding: 10px;
				align-self: flex-start;
			}
			@media (min-width: 1500px) {
				padding: 40px 39px;
			}
		}
	}
}
.post {
	&.posts-list__item {
		&.format-standard,
		&.format-image {
			.post-format-wrap {
				.post-thumbnail__link {}
				.sidebar-1-4 & {
					a,
					img {
						width: 100%;
					}
				}
				.posts-list--grid-2-cols &,
				.posts-list--grid-3-cols &,
				.posts-list--masonry-2-cols &,
				.posts-list--masonry-3-cols &,
				.fullsize-featured-image & {}
			}
			&:hover {}
			&.no-thumb {
				display: block;

				.post-list__item-content {
					.entry-footer {
						margin: 20px 0 0;
					}
				}
			}
		}
		&.no-thumb:not(.format-video):not(.format-gallery),
		&.format-audio {
			@include media-breakpoint-up(sm) {
				border: 2px solid #e1e2e4;
				padding: 10px;
				align-self: flex-start;
			}
			@media (min-width: 1500px) {
				padding: 40px 39px;
			}
		}
	}
	.post-list__item-content {
		position: relative;
		padding: 0;

		.position-one-right-sidebar .posts-list--grid-3-cols &,
		.position-one-left-sidebar .posts-list--grid-3-cols &,
		.position-two-sidebars .posts-list--grid-3-cols &,
		.position-one-right-sidebar .posts-list--masonry-3-cols &,
		.position-one-left-sidebar .posts-list--masonry-3-cols &,
		.position-two-sidebars .posts-list--masonry-3-cols & {}

		.entry-content {}
		.entry-footer {}
	}
	.post-thumbnail {
		.posts-list--default & {
			@include media-breakpoint-up(md) {
				a:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background: rgba(41,39,42,1);
					background: linear-gradient(to bottom, rgba(41,39,42,0) 0%, rgba(41,39,42,0.8) 100%);
					width: 100%;
					height: 100%;
				}
			}
		}
	}
	&-content_wrap {
		.posts-list--grid-2-cols &,
		.posts-list--grid-3-cols &,
		.posts-list--masonry-2-cols &,
		.posts-list--masonry-3-cols & {
			margin: 20px 0 0;
		}
		.format-audio &,
		.no-thumb:not(.format-gallery) & {
			.posts-list--grid-2-cols &,
			.posts-list--grid-3-cols &,
			.posts-list--masonry-2-cols &,
			.posts-list--masonry-3-cols & {
				margin: 0;
			}
		}
		.posts-list--default & {
			margin: 20px 0 0;

			@media (min-width: 1500px) {
				position: absolute;
				z-index: 100;
				margin: 0;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 36px 40px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}
		.small-thumbnail & {
			.posts-list--default & {
				position: relative;
				padding: 20px 0 0;
				display: block;
			}
		}
		.format-audio & {
			.posts-list--default & {
				position: relative;
				padding: 0;
			}
		}
		.format-quote & {
			padding: 20px 0 0;
		}
	}
	&.big-justify-block {
		.post-list__item-content {
			.post-thumbnail {
				position: relative;
				margin: 0 0 20px;
				overflow: hidden;

				@media (max-width: 543px) {
					margin: 0 0 19px;
				}
				a:after {
					@media (min-width: 1500px) {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background: rgba(41,39,42,1);
						background: linear-gradient(to bottom, rgba(41,39,42,0) 0%, rgba(41,39,42,0.8) 100%);
						width: 100%;
						height: 100%;
					}
				}
				@media (min-width: 1500px) {
					margin: 0;
				}
			}
			.post-content_wrap {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;

				@media (min-width: 1500px) {
					position: absolute;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					overflow: hidden;
					z-index: 100;

					.position-one-left-sidebar:not(.hidden-sidebars) &,
					.position-one-right-sidebar:not(.hidden-sidebars) &,
					.position-two-sidebars:not(.hidden-sidebars) &,
					.archive.position-one-left-sidebar &,
					.archive.position-one-right-sidebar &,
					.archive.position-two-sidebars & {
						position: relative;
					}
				}
			}
		}
		.post-thumbnail__format-link {
			position: relative;
		}
		&.has-thumb,
		&.format-gallery {
			.post-content_wrap {
				@media (min-width: 1500px) {
					padding: 36px 40px;

					.position-one-left-sidebar:not(.hidden-sidebars) &,
					.position-one-right-sidebar:not(.hidden-sidebars) &,
					.position-two-sidebars:not(.hidden-sidebars) &,
					.archive.position-one-left-sidebar &,
					.archive.position-one-right-sidebar &,
					.archive.position-two-sidebars & {
						padding: 20px 0 0;
					}
				}
			}
		}
		&.format-gallery {
			.post-content_wrap {
				@media (min-width: 1500px) {
					z-index: auto;

					> * {
						position: relative;
						z-index: 100;
					}
				}
			}
		}
		&.format-quote,
		&.format-audio,
		&.format-link.no-thumb {
			.post-content_wrap {
				position: relative;
				padding: 20px 0 0;
			}
			.post-thumbnail {
				margin: 0;
			}
		}
		&.no-thumb:not(.format-gallery) {
			.post-content_wrap {
				position: relative;
				padding: 0;
			}
			.post-thumbnail {
				margin: 0;
			}
		}
	}
	> .row {
		.single & {
			.col-xl-2 {
				order: 2;

				@media (min-width: 1500px) {
					max-width: 12.5%;
					flex: 1 0 12.5%;
					order: 1;
				}
			}
			.col-xl-10 {
				order: 1;

				@media (min-width: 1500px) {
					max-width: 87.5%;
					flex: 1 0 87.5%;
					order: 2;
				}
			}
		}
	}
}

.entry {
	// Header 
	&-header {
		.single & {
			margin-top: 10px;

			.post__cats {
				margin: 0 0 9px;
			}
		}
	}

	// Title
	&-title {
		margin: 0;

		.page & {
			margin: 0 0 20px;
		}
		.single & {
			margin: 0 0 18px;
		}
	}

	// Meta 
	&-meta {
		margin: 11px 0 0;

		@media (max-width: 543px) {
			margin-top: 5px;
		}
		.single & {
			margin: 0 0 26px;
		}
		.big-justify-block & {
			margin-top: 19px;

			@media (max-width: 543px) {
				margin-top: 5px;
			}
		}

		> span {
			display: block;
			
			@media (max-width: 543px) {
				display: none;

				&.post__date {
					display: block;
				}
			}
			&:not(:empty) {
				padding: 0 0 10px 0;

				@include media-breakpoint-up(sm) {
					display: inline-block;
					vertical-align: top;
					padding: 0 20px 0 0;
				}
			}

			i {
				font-size: 1em;
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px 0 0;
			}
		}

		& + .post-featured-content {
			margin-top: 20px;
		}
	}

	// Content 
	&-content {
		display: block;

		.single & {
			margin: 0;
		}
		> * {
			&:first-child {
				margin-top: 10px;
			}
			&:last-child {
				margin-bottom: 10px;
			}
		}
	}

	// Footer 
	&-footer {
		.btn {
			margin: 20px 0 0;
		}
		.page & {
			margin: 40px 0 0;
		}
	}
}
.post-thumbnail {
	.single & {
		margin: 0 0 26px;
	}
	.format-gallery.small-justify-block &,
	.has-thumb.small-justify-block & {
		margin: 0 0 19px;
	}
}
.post__cats {
	&:not(:empty) {
		margin: 0 0 13px;
	}
	@media (max-width: 543px) {
		display: none;
	}
	a {
		border: 2px solid;
		background: none;
		padding: 6px 9px 6px 11px;
		letter-spacing: 0.6px;
		display: inline-block;
		margin: 0 0 5px;
		vertical-align: top;
		font-weight: bold;
		text-transform: uppercase;

		&:nth-child(3) + a {
			display: none;
		}
	}
}
.post__tags {
	.page &,
	.single & {
		margin: 20px 0 0;
	}
	a,
	.title-prefix {
		margin: 0 20px 0 0;

		.posts-list & {
			margin: 0;
		}
	}
}

.sticky {
	&__label {
		background: #fec45c;
		width: 100%;
		height: 37px;
		z-index: 100;
		display: block;
		margin: 0 0 20px;
		text-align: center;

		i {
			font-size: 13px;
			position: relative;
			top: 8px;
		}

		@media (min-width: 1500px) {
			position: absolute;
			width: 30px;
			top: -6px;
			right: 20px;
			margin: 0;
		}
		&:before {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0 6px 6px;
			border-color: transparent transparent #efb44e transparent;
			position: absolute;
			top: 0;
			left: -6px;
			display: none;

			@media (min-width: 1500px) {
				display: block;
			}
		}
		&:after {
			content: '';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 5px 15px 0 15px;
			border-color: #efb44e transparent transparent transparent;
			position: absolute;
			bottom: -5px;
			left: 0;
			display: none;

			@media (min-width: 1500px) {
				display: block;
			}
		}
		.no-thumb & {
			@media (min-width: 1500px) {
				top: -48px;
				right: -10px;
			}
		}
	}
}

.blog-title {
	margin-bottom: 20px;
	
	@include media-breakpoint-up(lg) {
		margin-bottom: 44px;
	}
	h5 {
		margin: 0;
	}
}

.posts-list--default {
	.content-footer_group {
		@include media-breakpoint-up(lg) {
			display: flex;

			.entry-content {
				flex: 1;
			}
			.entry-footer {
				margin-left: 30px;
			}
		}
	}
}

.full-content-on-loop {
	.posts-list {
		.post-content_wrap {
			position: relative;
			padding: 20px 0 0;

			.content-footer_group {
				display: block;

				.entry-footer {
					margin: 0;
				}
			}
			.entry-content {
				.post-gallery,
				.entry-video,
				.mejs-container {
					display: none;
				}
			}
		}
		.post.big-justify-block {
			.post-list__item-content .post-content_wrap {
				position: relative;
				padding: 20px 0 0;
			}
		}
	}
}