.post {
	/* Gallery */
	&-gallery {
		margin: 0 0 10px;

		@include media-breakpoint-up(lg) {
			margin: 0 0 30px;
		}
		.post-gallery__slide {
			a {
				position: relative;
				display: block;

				.small-thumbnail & {
					display: inline-block;
					max-width: 100%;
				}
				&:before {
					@include font-awesome-icon();
					content: '\f002';
					font-size: 30px;
					color: #fff;
					position: absolute;
					z-index: 100;
					top: 50%;
					left: 50%;
					opacity: 0;
					transform: translate(-50%, -50%) scale(2);
					transition: 400ms all;
				}
				img {
					transition: 300ms opacity;
					width: 100%;

					.small-thumbnail & {
						width: auto;
					}
				}
			}
			&:hover {
				a:before {
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
				}
				img {
					opacity: .7;
				}
			}
		}
		.posts-list & {
			margin: 0;
		}
		.entry-content & {
			margin-top: 10px;
		}
		img {
			border-radius: 0;
			display: block;

			.entry-content & {
				border-radius: 0;
			}
		}
		.swiper-button-next, 
		.swiper-button-prev {
			margin-top: 0;
			top: 30px;			
			text-align: center;
			width: 32px;
			height: 32px;
			border: 2px solid;

			i {
				font-size: 32px;
				line-height: 28px;
				position: relative;
				left: -2px;
			}
			&.swiper-button-disabled {
				opacity: .1;
			}
			&:hover {
				color: #87878a;

				i {
					color: #87878a;
				}
			}
		}
		.swiper-button-prev {
			left: auto;
			right: 72px;

			.small-thumbnail & {
				right: auto;
				left: 30px;
			}
		}
		.swiper-button-next {
			right: 30px;

			.small-thumbnail & {
				right: auto;
				left: 72px;
			}
		}
		.material-icons {
			font-size: 32px;
			line-height: 50px;

		}
	}
	&.format-gallery {
		.posts-list--default & {
			.post-content_wrap {
				> * {
					position: relative;
					z-index: 10;
				}
			}
		}
	}
	/* Link */
	&-format-link {
		display: inline-block;
		margin: 0 0 20px;
		padding: 10px;
		position: relative;
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		z-index: 10;

		&:before {
			content: "insert_link";
			@include material-icon();
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px 0 0;
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			opacity: .8;
		}
		.single & {
			margin: 20px 0;
		}
	}
	&-thumbnail__format-link {
		.posts-list--grid-2-cols &,
		.posts-list--grid-3-cols &,
		.posts-list--masonry-2-cols &,
		.posts-list--masonry-3-cols &,
		.posts-list--default & {
			margin: 20px 0 0;

			@include media-breakpoint-up(lg) {
				margin: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				a {
					margin: 0;
				}
			}
		}
	}
	&-thumbnail{
		.has-thumb & {
			position: relative;
		}
		.small-thumbnail & {
			width: auto;
			display: inline-block;
			max-width: 100%;
		}
		&__format-link {
			.has-thumb & {
			}
		}
	}

	/* Quote */
	&-format-quote {
		@extend blockquote;
		padding: 20px 0 0;

		@include media-breakpoint-up(lg) {
			padding: 5px;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: auto;
			margin: 0;
			background: none;
			text-align: center;
			transform: translateY(-50%);
		}
		.position-one-right-sidebar .posts-list--vertical-justify .small-justify-block &,
		.position-one-left-sidebar .posts-list--vertical-justify .small-justify-block &,
		.position-two-sidebars .posts-list--vertical-justify .small-justify-block & {
			position: relative;
			transform: none;
			text-align: left;
			padding: 20px 0 0;
		}
		.posts-list--grid-3-cols &,
		.posts-list--masonry-3-cols & {
			position: relative;
			top: 0;
			margin: 20px 0 0;
			text-align: left;
			padding: 0;
			transform: translateY(0);
		}
		&:before {
			top: 10px;
			left: 0;
			top: 0;
			position: relative;
			display: block;
			line-height: 1;
			height: 50px;
			
			@include media-breakpoint-up(lg) {
				left: 0;
				top: 0;
				position: relative;
				display: block;
				line-height: 1;
				height: 50px;
			}
		}
	}
	.format-quote {
		position: relative;

		.post-format-quote {
			background: none;
		}
		.posts-list--grid-3-cols &,
		.posts-list--masonry-3-cols & {
			background: none;
		}
		.post-thumbnail--fullwidth {
			@include media-breakpoint-up(lg) {
				opacity: .4;
			}
			.posts-list--grid-3-cols &,
			.posts-list--masonry-3-cols & {
				opacity: 1;
			}
		}
		.post-thumbnail__link {
			position: relative;
			display: block;
			
			@include media-breakpoint-up(lg) {
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					background: rgba(41,39,42,1);
					background: linear-gradient(to bottom, rgba(41,39,42,0) 0%, rgba(41,39,42,0.8) 100%);
					width: 100%;
					height: 100%;
				}
			}
		}
		.posts-list--grid-3-cols &,
		.posts-list--masonry-3-cols & {
			@media (max-width: 1200px) {
				background: none;

				.post-thumbnail--fullwidth {
					opacity: 1;
				}
			}
		}
	}
	&.format-quote {
		&.small-justify-block {
			.post-featured-content {
				.position-one-right-sidebar .posts-list--vertical-justify &,
				.position-one-left-sidebar .posts-list--vertical-justify &,
				.position-two-sidebars .posts-list--vertical-justify & {
					background: none;

					.post-thumbnail--fullwidth {
						opacity: 1;
					}
				}
			}
		}
	}
	&.small-thumbnail {
		.format-quote {
			width: auto;
			display: inline-block;
			max-width: 100%;

			.post-thumbnail__link {
				width: auto;
				display: inline-block;
				max-width: 100%;
			}
		}
	}
}

.embed-wrapper {
	.twitter-tweet {
		margin: 10px auto !important;
		max-width: 90% !important;
	}
}

.fb_iframe_widget {
	max-width: 100%;
	> span {
		max-width: 100%;
	}
}

.post-thumbnail {
	a.post-thumbnail__link[data-popup='magnificPopup'] {
		position: relative;
		display: block;
		
		.small-thumbnail & {
			display: inline-block;
			max-width: 100%;
		}
		&:before {
			@include font-awesome-icon();
			content: '\f002';
			font-size: 30px;
			color: #fff;
			position: absolute;
			z-index: 100;
			top: 50%;
			left: 50%;
			opacity: 0;
			transform: translate(-50%, -50%) scale(2);
			transition: 400ms all;
		}
		img {
			transition: 300ms opacity;
			width: 100%;

			.small-thumbnail & {
				width: auto;
			}
		}
		&:hover {
			&:before {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
			img {
				opacity: .7;
			}
		}
	}
}
.mini-gallery {
	a.post-thumbnail__link {
		position: relative;
		display: block;

		.small-thumbnail & {
			display: inline-block;
			max-width: 100%;
		}
		&:before {
			@include font-awesome-icon();
			content: '\f002';
			font-size: 30px;
			color: #fff;
			position: absolute;
			z-index: 100;
			top: 50%;
			left: 50%;
			opacity: 0;
			transform: translate(-50%, -50%) scale(2);
			transition: 400ms all;
		}
		img {
			transition: 300ms opacity;
			width: 100%;

			.small-thumbnail & {
				width: auto;
			}
		}
		&:hover {
			&:before {
				opacity: 1;
				transform: translate(-50%, -50%) scale(1);
			}
			img {
				opacity: .7;
			}
		}
	}
}
.post-thumbnail__img {
	width: 100%;

	.small-thumbnail & {
		width: auto;
	}
}