.widget {
	margin: 0 0 40px;

	@include media-breakpoint-up(lg) {
		margin-bottom: 100px;
	}
	.footer-area & {
		margin-bottom: 29px;
	}
	.before-content-area & {
		@include media-breakpoint-up(lg) {
			margin-bottom: 79px;
		}
		&:last-child {
			margin-bottom: 20px;
			
			@include media-breakpoint-up(lg) {
				margin-bottom: 27px;
			}
		}
	}
	.sidebar-primary &,
	.sidebar-secondary &,
	.before-content-area &,
	.after-content-area &,
	.before-loop-area &,
	.after-loop-area & {
		@include card;
	}
	.after-loop-area &,
	.after-content-area & {
		margin-bottom: 0;
		margin-top: 20px;

		@include media-breakpoint-up(lg) {
			margin-top: 65px;
		}
	}
	.full-width-header-area & {
		&:first-child {
			&.widget_smart_slider {
				margin-top: -100px;	
			}
		}
	}
	select {
		max-width: 100%;
	}
	.widget-title {
		margin: 0 0 15px;

		@include media-breakpoint-up(lg) {
			margin: 3px 0 44px;

			.footer & {
				margin-bottom: 40px;
			}
		}
		.full-width-header-area & {
			@include media-breakpoint-up(sm) {
				text-align: center;
			}
		}
	}
}

.twitterwidget,
.twitterwidget iframe,
.fb_iframe_widget,
.fb_iframe_widget iframe {
	width: 100% !important;
}