.embed-responsive {
	position: relative;
	display: block;
	margin: 32px 0 30px;
	padding: 0 0 $embed__ratio;

	.embed-responsive-item,
	iframe,
	embed,
	object {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100% !important;
		width: 100%;
		border: 0;
	}
	.posts-list & {
		margin: 0 0 30px;
	}

	// Modifier class for 16:9 aspect ratio
	&.embed-responsive-16by9 {
		padding-bottom: $embed__ratio;
	}

	// Modifier class for 4:3 aspect ratio
	&.embed-responsive-4by3 {
		padding-bottom: 75%;
	}
}

.mejs-container  {
	margin: 32px 0 30px;
	
	.posts-list & {
		margin: 0;
	}
}