.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

img {
	vertical-align: top;
}

.img-pull-left {
	width:50%;
	float:left;
	margin:0 4% 1% 0;
}
.img-pull-right {
	width:50%;
	float:right;
	margin:0 0 1% 4%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

/*--------------------------------------------------------------
## Embeds
--------------------------------------------------------------*/
@import "embeds";