.swiper-pagination .swiper-pagination-bullet{
	background-color: $regular_accent_color_1;
}
.swiper-button-next, 
.swiper-button-prev {
	color: $invert_text_color;
}
.swiper-button-next:hover, 
.swiper-button-prev:hover,
.swiper-carousel-container.with-title .swiper-button-next:hover, 
.swiper-carousel-container.with-title .swiper-button-prev:hover {
	color: $regular_accent_color_2;
}

.swiper-wrapper .post .entry-content,
.swiper-wrapper .post .entry-content a {
	color: $invert_text_color;
}
.swiper-wrapper .post .entry-content a:hover {
	color: $invert_link_color;
}
.swiper-wrapper .post .entry-content a.btn:hover {
	border-color: $invert_link_color;
}
.swiper-wrapper .post .entry-content .post__cats a:hover {
	color: $invert_text_color;
	border-color: $invert_link_color;
}

.footer-area .swiper-wrapper .post .inner{
	background-color: $regular_accent_color_2;
}
.bitnews-carousel .entry-content h3 {
	font-size: @font_size($h3_font_size, multiple, ceil, 0.666)px;
}
.bitnews-carousel[data-slides-per-view=1] .entry-content h3,
.bitnews-carousel[data-slides-per-view=2] .entry-content h3,
.bitnews-carousel[data-slides-per-view=3] .entry-content h3 {
	font-size: $h3_font_size{px};
}