.invert .instagram__cover { background-color: $invert_link_color; }
.instagram__cover,
.invert .instagram__cover:before { color: $regular_accent_color_1; }

.instagram__date {
	color: $regular_accent_color_1;
}