.sp-image-container {
	position: relative;
}
.sp-image-container:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: @alpha( $regular_accent_color_2, 50 );
}

.bitnews-smartslider__instance div.sp-more a {
	background: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
	color: $invert_text_color;
}
.bitnews-smartslider__instance div.sp-more a:hover {
	background: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
	color: $invert_text_color;
}