.subscribe-block__input { color: $regular_text_color; }

.widget-subscribe .subscribe-bg-color {
	background-color: $regular_accent_color_2;
}

.widget-subscribe .widget-subscribe_with_bg,
.widget-subscribe .widget-subscribe_with_bg .widget-title,
.widget-subscribe .widget-subscribe_with_bg a,
.widget-subscribe .widget-subscribe_with_bg .social-list a, 
.widget-subscribe .widget-subscribe_with_bg .social-list a:active, 
.widget-subscribe .widget-subscribe_with_bg .social-list a:focus {
	color: $invert_text_color;
}
.widget-subscribe .widget-subscribe_with_bg a:hover,
.widget-subscribe .widget-subscribe_with_bg .social-list a:hover {
	color: $invert_link_color;
}

.widget-subscribe h5.widget-title {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-size: $h4_font_size{px};
	line-height: $h4_line_height;
	font-family: $h4_font_family;
	letter-spacing: $h4_letter_spacing{px};
	text-align: $h4_text_align;
}
.footer-area .widget-subscribe h5.widget-title {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: $h5_font_family;
	letter-spacing: $h5_letter_spacing{px};
	text-align: $h5_text_align;
}

.widget-subscribe .widget-subscribe_with_bg .subscribe-block__input {
	color: $invert_text_color;
}
.subscribe-widget_error {
	color: $regular_text_color;
}
.invert .subscribe-block__submit.btn:hover {
	background: $invert_text_color;
	border-color: $invert_text_color;
	color: $regular_accent_color_2;
}
.invert .subscribe-block__input {
	border-color: $invert_text_color;
}
.invert .subscribe-block__message {
	color: $regular_text_color;
}

.widget-subscribe .subscribe-block__input::-webkit-input-placeholder { color: $invert_text_color; }
.widget-subscribe .subscribe-block__input::-moz-placeholder          { color: $invert_text_color; }
.widget-subscribe .subscribe-block__input:-moz-placeholder           { color: $invert_text_color; }
.widget-subscribe .subscribe-block__input:-ms-input-placeholder      { color: $invert_text_color; }