.widget-taxonomy-tiles__content::before{
	background: $regular_accent_color_2;
}
.widget-taxonomy-tiles__content:hover:before{
	background: $regular_accent_color_1;
}
.widget-taxonomy-tiles__content h4 a:hover{
	color: $regular_accent_color_2;
}