.widget ul li {
	color: $regular_link_color;
}
.widget_archive li,
.widget_meta li,
.widget_rss li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_categories li,
.widget_pages li,
.widget_nav_menu li {
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
}

/* invert color */
.invert .widget ul li, .invert .widget ul li a {
	color: $invert_link_color;
}
.invert .widget ul li a:hover {
	color: $invert_link_hover_color;
}
.invert .widget select{
	color: $invert_accent_color_2;
}
/*--------------------------------------------------------------
# Widget calendar
--------------------------------------------------------------*/
.widget_calendar .calendar_wrap caption{
	color: $invert_text_color;
	background: $regular_accent_color_1;
}
.widget_calendar .calendar_wrap th{
	color: $regular_accent_color_1;
}
.widget_calendar .calendar_wrap tr td a::before{
	background-color: $regular_accent_color_3;
}

/* invert color */
.invert .widget_calendar .calendar_wrap caption{
	color: $invert_accent_color_1;
	background: $regular_accent_color_2;
}
.invert .widget_calendar .calendar_wrap th{
	color: $regular_accent_color_2;
}
.invert .widget_calendar .calendar_wrap a{
	color: $invert_link_color;
}
.invert .widget_calendar .calendar_wrap a:hover{
	color: $invert_link_hover_color;
}
.invert .widget_calendar .calendar_wrap tr td a::before{
	background-color: $invert_accent_color_3;
}
/*--------------------------------------------------------------
# Widget Tag Cloud
--------------------------------------------------------------*/
.widget_tag_cloud .tagcloud a {
	color: $regular_accent_color_1;
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
}
.widget_tag_cloud .tagcloud a:hover{
	color: $regular_accent_color_1;
	border-color: $regular_accent_color_2;
}

/* invert color */
.invert .widget_tag_cloud .tagcloud a {
	color: $invert_text_color;
}
.invert .widget_tag_cloud .tagcloud a:hover{
	color: $invert_text_color;
	border-color: $regular_accent_color_1;
}
/*--------------------------------------------------------------
# Widget Recent Posts
--------------------------------------------------------------*/
.widget_recent_entries ul li a,
.widget_recent_comments ul li > a {
	color: $regular_link_hover_color;
}
.widget_recent_comments ul li,
.invert .widget_recent_comments ul li {
	color: $regular_text_color;
}
.widget_recent_entries ul li a:hover, 
.widget_recent_comments ul li > a:hover,
.widget_recent_comments ul li .comment-author-link {
	color: $regular_link_color;
}
.widget_recent_entries ul li .post-date::before{
	color: @alpha($regular_accent_color_1, 30);
}

/* invert color */
.invert .widget_recent_entries ul li a, 
.invert .widget_recent_comments ul li > a{
	color: $invert_text_color;
}
.invert .widget_recent_entries ul li a:hover, 
.invert .widget_recent_comments ul li>a:hover{
	color: $invert_link_color;
}
.textwidget {
	color: $regular_text_color;
}

/* feat widget */
.tm_fpblock__item-large-2x .tm_fpblock__item__title {
	font-style: $h1_font_style;
	font-weight: $h1_font_weight;
	font-size: @font_size($h1_font_size, multiple, ceil, 0.3)px;
	line-height: $h1_line_height;
	font-family: $h1_font_family;
	letter-spacing: $h1_letter_spacing{px};
	text-align: $h1_text_align;
}
@media (min-width: 1200px) {
	.tm_fpblock__item-large-2x .tm_fpblock__item__title {
		font-size: @font_size($h1_font_size, multiple, ceil, 0.6)px;
	}
}
@media (min-width: 1500px) {
	.tm_fpblock__item-large-2x .tm_fpblock__item__title {
		font-size: $h1_font_size{px};
	}
}
.tm_fpblock__item__description,
.tm_fpblock__item__description a {
	color: $invert_text_color;
}
.tm_fpblock__item__description a:hover {
	color: $invert_link_color;
}
.tm_fpblock__item__content {
	font-size: @font_size($body_font_size, multiple, ceil, 0.75)px;
	line-height: 1.3;
}
.tm_fpblock__item__description a.tm_fpblock__item__category:hover {
	color: $invert_text_color;
	border-color: $invert_link_color;
}
.tm_fpblock-layout-1 .tm_fpblock__item-small h2,
.tm_fpblock-layout-2 .tm_fpblock__item-small h2,
.tm_fpblock-layout-3 .tm_fpblock__item-small h2,
.tm_fpblock-layout-4 .tm_fpblock__item-small h2,
.tm_fpblock-layout-5 .tm_fpblock__item-small h2 {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: $h5_font_family;
	letter-spacing: $h5_letter_spacing{px};
	text-align: $h5_text_align;
}
@media (min-width: 1500px) {
	.tm_fpblock-layout-1 .tm_fpblock__item-small h2,
	.tm_fpblock-layout-2 .tm_fpblock__item-small h2,
	.tm_fpblock-layout-3 .tm_fpblock__item-small h2,
	.tm_fpblock-layout-4 .tm_fpblock__item-small h2,
	.tm_fpblock-layout-5 .tm_fpblock__item-small h2 {
		font-size: $h2_font_size{px};
	}
}

/* smart box */
.news-smart-box__navigation .terms-list .term-item span {
	color: $regular_accent_color_1;
}
.news-smart-box__navigation .terms-list .term-item span:hover,
.news-smart-box__navigation .terms-list .term-item.active span {
	color: $regular_accent_color_2;
}
.invert .news-smart-box__navigation .terms-list .term-item span:hover,
.invert .news-smart-box__navigation .terms-list .term-item.active span {
	color: $invert_text_color;
}
.news-smart-box__instance.layout_type_1 .mini-type_inner-wrap {
	background: $regular_accent_color_3;
}
.news-smart-box__listing .mini-type h6 a,
.news-smart-box__instance article.full-type .entry-content h2 a {
	color: $regular_accent_color_2;
}
.news-smart-box__listing .mini-type h6 a:hover,
.news-smart-box__instance article.full-type .entry-content h2 a:hover {
	color: $regular_accent_color_1;
}
.nsb-spinner {
	border-color: transparent transparent transparent $regular_accent_color_1;
}
@media (min-width: 992px) {
	.news-smart-box__listing .full-type,
	.news-smart-box__listing .full-type a,
	.news-smart-box__instance article.full-type .entry-content h2 a {
		color: $invert_text_color;
	}
	.news-smart-box__listing .full-type a:hover,
	.news-smart-box__instance article.full-type .entry-content h2 a:hover {
		color: $invert_link_color;
	}
	.news-smart-box__listing .full-type .post__cats a:hover {
		color: $invert_text_color;
		border-color: $invert_link_color;
	}
	.news-smart-box__instance.layout_type_3 article.full-type .entry-content {
		color: $regular_text_color;
	}
	.news-smart-box__instance.layout_type_3 article.full-type .entry-content a,
	.news-smart-box__instance.layout_type_3 article.full-type .entry-content .post__cats a:hover,
	.news-smart-box__instance.layout_type_3 article.full-type .entry-content h2 a:hover {
		color: $regular_link_color;
	}
	.news-smart-box__instance.layout_type_3 article.full-type .entry-content a:hover,
	.news-smart-box__instance.layout_type_3 article.full-type .entry-content .post__cats a,
	.news-smart-box__instance.layout_type_3 article.full-type .entry-content h2 a {
		color: $regular_accent_color_2;
	}
}

/* banner */
.widget-banner__link {
	background: $regular_accent_color_2;
}

/* popular widget */
.widget-popular-postson .popular-posts-holder .post.bigger .post-inner .post-content a.btn {
	background: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.widget-popular-postson .popular-posts-holder .post.bigger .post-inner .post-content a:hover {
	color: $regular_accent_color_1;
}
.widget-popular-postson .popular-posts-holder .post.bigger .post-inner .post-content a.btn:hover {
	background: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
	color: $invert_text_color;
}

.widget-popular-postson .popular-posts-holder .post.bigger .post-inner .post-content h4 {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: @font_size($h3_font_size, multiple, ceil, 0.666)px;
	line-height: $h3_line_height;
	font-family: $h3_font_family;
	letter-spacing: $h3_letter_spacing{px};
}
@media (min-width: 1200px) {
	.widget-popular-postson .popular-posts-holder .post.bigger .post-inner .post-content,
	.widget-popular-postson .popular-posts-holder .post.bigger .post-inner .post-content a {
		color: $invert_text_color;
	}
	.widget-popular-postson .popular-posts-holder .post.bigger .post-inner .post-content .post__cats a:hover {
		color: $invert_text_color;
		border-color: $regular_accent_color_1;
	}
}