.site-footer.minimal {
	.footer-container {
		@include media-breakpoint-up(sm) {
			padding: 30px 0 23px;
		}
	}
	.copyright-menu-col {
		text-align: center;
	}
	.footer-copyright {
		@include media-breakpoint-up(xl) {
			padding-top: 13px;
		}
	}
	.footer-menu {
		padding-top: 10px;
	}
}
