.site-footer.centered {
	.logo-col {}

	.copyright-menu-col {
		order: 3;

		@include media-breakpoint-up(xl) {
			text-align: center;
			order: 2;
		}
	}

	.social-col {
		order: 2;
		padding-top: 10px;
		padding-bottom: 11px;

		@include media-breakpoint-up(xl) {
			text-align: right;
			padding-top: 0;
			padding-bottom: 0;
			order: 3;
		}
	}

	.footer-copyright {
		order: 1;

		@include media-breakpoint-up(xl) {
			padding-top: 13px;
		}
	}
	
	.footer-menu {
		padding-top: 10px;
	}
}