h1 {
	margin: 0 0 7px;
}
h2 {
	margin: 0 0 12px;
}
h3 {
	margin: 0 0 13px;
}
h4 {
	margin: 0 0 14px;
}
h5 {
	margin: 0 0 16px;
}
h6 {
	margin: 0 0 17px;
}

.page .site-main {
	p {
		margin-top: 0;

		& + h2 {
			margin-top: 28px;
		}
		& + h3 {
			margin-top: 32px;
		}
		& + h4 {
			margin-top: 32px;
		}
		& + h5 {
			margin-top: 35px;
		}
		& + h6 {
			margin-top: 37px;
		}
	}

	.entry-content {
		> * {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}