.breadcrumbs{
	position: relative;
	margin: 16px 0 36px;

	&__title{
		&:not(:empty) {
			display: inline-block;
			vertical-align: baseline;
			margin: 0;

			&:after {
				content: '_';
				display: inline-block;
				vertical-align: baseline;
			}
			& + .breadcrumbs__items {
				display: inline-block;
				vertical-align: baseline;
			}
		}
		.page-title{
			margin: 0;
			display: inline-block;
			vertical-align: baseline;
		}
	}
	&__items{}
	&__browse{}
	&__wrap{
		margin: 0;
		text-transform: uppercase;

		@media (min-width: 992px) {
			margin: 4px 0;
		}
	}
	&__item{
		display: inline-block;

		&-sep{
			margin: 0;
		}
	}
}
.breadcrumbs__wrap{
	font-size: 0;
}