a {
	color: $color__link;

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
		color: inherit;
		text-decoration: none;
	}
	
	.page.hentry .entry-content & {
		text-decoration: underline;
		padding-top: 15px;
		padding-bottom: 16px;
	}
	&.btn {
		.page.hentry .entry-content & {
			text-decoration: none;
		}
	}
}