.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	@include media-breakpoint-up(xl) {
		.site-header.minimal & {
			padding-left: 10px;
		}
	}
	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul.sub-menu {
			position: absolute;
			top: 100%;
			visibility: hidden;
			opacity: 0;
			z-index: 99999;
			transition: 200ms linear;
			transition-property: top, opacity, visibility, transform;
			margin: 0;
			left: -9999px;
			border-radius: 0;

			@media (max-width: 543px) {
				position: static;
				opacity: 1;
				visibility: visible;
				box-shadow: none;
				background: none;
				margin: 0;
				height: 0;

				li:before {
					content: "-";
					display: inline-block;
				}
				&.active {
					height: auto;
				}
			}
			li {				
				> ul {
					top: 20%;
					margin-left: 1px;

					li {
						a {
							text-indent: 20px;

							@include media-breakpoint-up(sm) {
								text-indent: 0;
							}
						}
						ul {
							a {
								text-indent: 30px;

								@include media-breakpoint-up(sm) {
									text-indent: 0;
								}
							}
						}
					}
				}
				&:hover > ul,
				&.focus > ul,
				&.menu-hover > ul {
					top: 0;
					left: 100%;
				}
				&:last-child > a {
					@include media-breakpoint-up(sm) {
						border-bottom: none;
					}
				}
				> ul.in-transition {
					left: 100%;
				}
				&.menu-item-has-children {
					&:after {
						content: "chevron_right";
						@include material-icon();
						position: absolute;
						font-size: 24px;
						top: 16px;
						right: 11px;
						margin: -5px 0 0 0;
						display: none;

						@include media-breakpoint-up(sm) {
							display: inline-block;
						}
					}
					> a {
						padding-right: 50px;
						
						@include media-breakpoint-up(sm) {
							padding-right: 0;
						}
						&.mobile-sublink {
							margin: 0;
							display: block;
							position: absolute;
							right: 0;
							top: 0;
							padding: 0;
							width: 50px;
							height: 46px;
							text-align: center;
							text-indent: 0;

							i {
								position: relative;
								top: 10px;
								transition: 300ms all;
							}
							&.active {
								i {
									transform: rotateX(180deg);
								}
							}
							@include media-breakpoint-up(sm) {
								display: none;
							}
						}
					}
				}
			}
			a {
				width: 100%;
				text-align: left;
				padding: 17px 20px;
				position: relative;
				@include font-size(0.87);
				text-indent: 10px;

				@include media-breakpoint-up(sm) {
					padding: 18px 20px;
					width: 196px;
					text-indent: 0;
				}
				&.mobile-sublink {
					display: none;
				}
			}
			li:hover > a,
			li.focus > a,
			li.menu-hover > a,
			li.current_page_item > a,
			li.current-menu-item > a,
			li.current_page_ancestor > a {
				&:before {
					top: 0;
					bottom: 0;
					opacity: 1;
				}
			}

		}

		li:hover > ul,
		li.focus > ul,
		li.menu-hover > ul {
			top: 100%;
			left: 0;
			visibility: visible;
			opacity: 1;
		}
		li > ul.in-transition {
			left: 0;
		}
	}

	ul.menu {
		font-size: 0;
		line-height: 0;

		@include media-breakpoint-up(xl) {
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
		}
		> li {
			display: block;
			margin: 0;

			@include media-breakpoint-up(sm) {
				display: inline-block;
				margin: 5px;
			}
			@include media-breakpoint-up(xl) {
				margin: 5px 16px;
			}
			.boxed-wrap & {
				margin: 0 10px;
			}
			&.menu-item-has-children {
				@media (max-width: 543px) {
					overflow: hidden;
				}
				&:after {}

				> a {
					margin-right: 50px;

					@include media-breakpoint-up(sm) {
						margin-right: 0;
					}
					&.mobile-sublink {
						margin: 0;
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						padding: 0;
						width: 50px;
						height: 46px;
						text-align: center;

						i {
							position: relative;
							top: 10px;
							transition: 300ms all;
						}
						&.active {
							i {
								transform: rotateX(180deg);
							}
						}
						@include media-breakpoint-up(sm) {
							display: none;
						}
					}
				}
			}
			> a {
				display: block;
				padding: 17px 20px;
				position: relative;
				letter-spacing: .6px;

				@include media-breakpoint-up(sm) {
					padding: 0;
				}
				&.mobile-sublink {
					display: none;
				}
			}
			&:hover,
			&.menu-hover,
			&.current_page_item,
			&.current-menu-item,
			&.current_page_ancestor {
				> a {}
			}

			&.page_item_has_children,
			&.menu-item-has-children {
				> a {}
			}
			> ul {
				@include media-breakpoint-up(lg) {
					transform: translateY(30px);
				}
			}
			&:hover > ul,
			&.focus > ul,
			&.menu-hover > ul {
				@include media-breakpoint-up(sm) {
					transform: translateY(30px);
				}
				@include media-breakpoint-up(xl) {
					transform: translateY(44px);
				}
			}
		}
	}
	li {
		position: relative;
		text-align: left;

		@media (max-width: 543px) {
			border-top: 1px solid #fff;
		}
	}
	a {
		display: block;
		text-decoration: none;
		font-weight: bold;
		line-height: 1;
		position: relative;
	}
	.menu-item_description {
		font-weight: normal;
		font-style: italic;
		position: relative;
		padding: 2px 0 0 0;

		.sub-menu & {
			position: static;
		}
	}
	&.isStuck {
		@media (min-width: 782px) {
			position: fixed;
			background: #fff;
			left: 0;
			width: 100%;
			z-index: 1000;
			padding-left: 20px !important;
			padding-right: 20px !important;
			box-shadow: $box__shadow;

			ul.menu {
				margin: 0;
			}
		}
		@media (max-width: 781px) {
			position: relative !important;
			top: 0 !important;
		}
	}
}
@media (max-width: 781px) {
	.pseudoStickyBlock {
		height: 0 !important;
	}
}

.set-menu {
	padding: 10px 0 20px;
}

.footer-menu {
	margin: 0;

	&__items {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			padding: 0 5px 0 0;

			@media (min-width: 544px) {
				padding: 0;
			}
			&:before {
				@media (min-width: 544px) {
					content: '•';
					padding: 0 12px 0 7px;
				}
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
			a {
				text-decoration: none;
			}
			&.current-menu-item,
			&.current_page_item,
			a:hover {
				text-decoration: none;
			}
		}
	}
}

/* Small menu. */
.menu-toggle {
	display: inline-block;
	padding: 0;
	margin-bottom: 0;
	line-height: 40px;
	width: 50px;
	border: none;

	i {
		line-height: 40px;
	}

	@include media-breakpoint-up(sm) {
		display: none;
	}
}
.main-navigation{
	&.toggled{
		ul{
			display: block;
		}
	}
}
.main-navigation ul{
	display: none;

	@include media-breakpoint-up(sm) {
		display: block;
	}

}