.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 40px;
		overflow: hidden;

		@include media-breakpoint-up(lg) {
			margin: 0 0 1.5em;
		}
	}

	.nav-previous,
	.nav-next {		
		width: 100%;
		margin: 10px 0;

		@include media-breakpoint-up(sm) {
			width: 49%;
			margin: 0;
		}
		a {
			display: inline-block;
			vertical-align: middle;

			&:before,
			&:after {
				@include material-icon();
				font-size: 20px;
				display: inline-block;				
				vertical-align: middle;
				position: relative;
				top: -2px;
			}
		}
	}
	.nav-previous {
		@include media-breakpoint-up(sm) {
			float: left;
		}
		> a {
			padding-left: 23px;

			&:before {				
				content: '\E408';
			}
		}
	}

	.nav-next {
		@include media-breakpoint-up(sm) {
			float: right;
			text-align: right;
		}
		> a {
			padding-right: 23px;

			&:after {
				content: '\E409';
			}
		}
	}
}

.pagination {
	padding: 0 0 25px;

	.page-numbers {
		margin: 0 25px 5px 0;
		padding: 0;
		font-weight: bold;
		border: none;
		text-align: center;

		&.next,
		&.prev {
			i {
				vertical-align: bottom;
				font-size: 1.6em;
				line-height: 1.2;
			}
		}
	}
}